Repository hmcts/cmc-claim-store, pull requests merged in 2018-12, with the labels that each got.

#583 ROC-4693: fix NPE when partadmit/immediately accepted (formalise not present)
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ResponseAcceptationMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseAcceptationAssert.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtils.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtilsTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ClaimantResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-583

#591 fix dockerhub builds
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
Labels: ns:cmc-claim-store-pr-591

#573 ROC-4520: Add reject organisation payment plan event
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseAcceptationAssert.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidResponseAcceptance.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidResponseAcceptanceConstraintValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptation.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/constraints/ValidResponseAcceptanceConstraintValidatorTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptationTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimantResponseTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ClaimantResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/RejectOrganisationPaymentPlanEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimantResponseRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-573

#563 Roc 4729 fix pdf repayment plan format
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PaymentIntentionContentProvider.java
  src/main/resources/citizen/templates/document/claimantResponseReceipt.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/FullAdmissionResponseContentProviderTest.java
Labels: ns:cmc-claim-store-pr-563

#599 ROC-4520: increase unit test coverage
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimantResponseRuleTest.java
Labels: ns:cmc-claim-store-pr-599

#595 ROC-4776: Transforming claim into ccd claim
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/config/CCDAdapterConfig.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/custom/deserializer/ListItemDeserializer.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/custom/serializer/ListItemSerializer.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/AmountBreakDownMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/AmountMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/AmountRangeMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/ClaimDataMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/ClaimMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/CompanyDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/CompanyMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/ContactDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/EvidenceMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/HousingDisrepairMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/IndividualDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/IndividualMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/InterestBreakDownMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/InterestDateMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/InterestMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/OrganisationDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/OrganisationMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/PartyMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/PaymentMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/PersonalInjuryMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/RepresentativeMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/SoleTraderDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/SoleTraderMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/StatementOfTruthMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/TheirDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/TimelineMixIn.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/InterestAmount.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ReDetermination.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Timeline.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/TimelineEvent.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/amount/AmountBreakDown.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/amount/AmountType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/evidence/Evidence.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/particulars/PersonalInjury.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/PartyType.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/serialization/ClaimDataSerializationTest.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/SealedClaimJsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/jackson/serialize/ClaimantResponseSerializationTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/MixMapperTest.java
  src/test/resources/jackson-serialization-samples/claimant-response.json
Labels: ns:cmc-claim-store-pr-595

#600 ROC-4661: enable staff emails on demo
  infrastructure/demo.tfvars
Labels: ns:cmc-claim-store-pr-600

#601 Ignore mixin package for code coverage
  build.gradle
  codecov.yml
Labels: ns:cmc-claim-store-pr-601

#559 ROC-4390 Claimant response states paid staff email
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtils.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtilsTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/StatesPaidEmailContentProvider.java
  src/main/resources/staff/templates/email/statesPaid/body.txt
  src/main/resources/staff/templates/email/statesPaid/subject.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/StatesPaidEmailContentProviderTest.java
Labels: ns:cmc-claim-store-pr-559

#570 ROC-4573 Add settlement agreement rejection endpoint
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/offers/Settlement.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RejectSettlementAgreementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/SettlementAgreementController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/SettlementAgreementRejectedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/EventProducerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementServiceTest.java
Labels: ns:cmc-claim-store-pr-570

#593 ROC-4637 Notify claimant when defendant requests redetermination
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJCitizenActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccj/ReDeterminationEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/AuthorisationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/CCJNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJCitizenActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
Labels: ns:cmc-claim-store-pr-593

#596 ROC-4652-ClaimantRejectOrgPaymentPlan-StaffNotify
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimantRejectOrgPaymentPlanStaffEmailContentProvider.java
  src/main/resources/staff/templates/email/claimantRejectOrganisationRepaymentPlan/body.txt
  src/main/resources/staff/templates/email/claimantRejectOrganisationRepaymentPlan/subject.txt
Labels: ns:cmc-claim-store-pr-596

#608 ROC-4767 Send notifications when defendant rejects settlement
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/SettlementAgreementRejectedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/RejectSettlementAgreementActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/RejectSettlementAgreementEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/SignSettlementAgreementActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/SignSettlementAgreementEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/EventProducerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/settlement/RejectSettlementAgreementActionsHandlerTest.java
Labels: ns:cmc-claim-store-pr-608

#605 ROC-4847 Accept Settlement Agreement Endpoint
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RejectSettlementAgreementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/SettlementAgreementController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/SettlementAgreementCountersignedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementServiceTest.java
Labels: ns:cmc-claim-store-pr-605

#607 ROC:4596 - notification email when interlocutory judgement requested
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimantResponseTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
Labels: ns:cmc-claim-store-pr-607

#611 ROC-4941 Allow zero turnover
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/SelfEmployment.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/SelfEmploymentTest.java
Labels: ns:cmc-claim-store-pr-611

#612 ROC-4776 Create CCD Claim model
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/config/CCDAdapterConfig.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDAddress.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDAmountRow.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCollectionElement.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDDefendant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDDocument.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDInterestDateType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDInterestEndDateType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDInterestType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDNotKnown.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDPartyType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDTimelineEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDYesNoOption.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/evidence/CCDDefendantEvidence.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/evidence/CCDEvidence.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/evidence/CCDEvidenceRow.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/evidence/CCDEvidenceType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/mapper/Mapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/custom/deserializer/ListItemDeserializer.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/custom/serializer/ListItemSerializer.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/AmountBreakDownMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/AmountMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/AmountRangeMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/ClaimDataMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/ClaimMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/CompanyDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/CompanyMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/ContactDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/EvidenceMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/HousingDisrepairMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/IndividualDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/IndividualMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/InterestBreakDownMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/InterestDateMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/InterestMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/OrganisationDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/OrganisationMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/PartyMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/PaymentMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/PersonalInjuryMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/RepresentativeMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/SoleTraderDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/SoleTraderMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/StatementOfTruthMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/TheirDetailsMixIn.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/jackson/mixin/TimelineMixIn.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/PartyAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/TheirDetailsAssert.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/evidence/EvidenceType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/PartyType.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/jackson/serialize/ClaimantResponseSerializationTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/MixMapperTest.java
Labels: ns:cmc-claim-store-pr-612

#616 ROC-4775 Create a blank case in parallel
  infrastructure/aat.tfvars
  infrastructure/main.tf
Labels: ns:cmc-claim-store-pr-616

#620 suppress-dependency-check-for-CVE-2018-8088
  dependency-check-suppressions.xml
Labels: ns:cmc-claim-store-pr-620

#619 ROC-4775 Create a blank case in parallel in prod
  infrastructure/prod.tfvars
Labels: ns:cmc-claim-store-pr-619

#621 CCD async flag enabled
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
Labels: ns:cmc-claim-store-pr-621

#613 ROC-4885:Changed court's repayment plan in pdf when negative disposable income
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ResponseAcceptationContentProvider.java
  src/main/resources/citizen/templates/document/claimantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/ResponseAcceptationContentProviderTest.java
Labels: ns:cmc-claim-store-pr-613

#617 Mapping and generating Default CCJ - Mapping
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/ccj/CountyCourtJudgmentMapperOld.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDPaymentOption.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDPaymentSchedule.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/ccj/CCDCountyCourtJudgment.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/ccj/CCDCountyCourtJudgmentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/Mapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ccj/CountyCourtJudgmentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/CountyCourtJudgmentAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ccj/CountyCourtJudgmentMapperTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CCDStoreConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/resources/core-case-data/search-response-CCJ.success.json
Labels: ns:cmc-claim-store-pr-617

#623 ROC-4957: Consistent usage of free mediation value across different response models
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/claimantresponse/ResponseRejectionMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/claimantresponse/ResponseRejectionAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/claimantresponse/ClaimantResponseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ResponseRejectionContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
Labels: ns:cmc-claim-store-pr-623

#627 ROC-4776: Correct party phone field name
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDDefendant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CompanyMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/OrganisationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/SampleData.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimantAssert.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
Labels: ns:cmc-claim-store-pr-627
