Repository hmcts/cmc-claim-store, pull requests merged in 2018-11, with the labels that each got.

#533 ROC-4095 bank details optional
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/StatementOfMeans.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/StatementOfMeansTest.java
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
Labels: ns:cmc-claim-store-pr-533

#545 update feature-toggle env vars
  src/kubernetes/deployment.template.yaml
Labels: ns:cmc-claim-store-pr-545

#543 Add codecov configuration
  codecov.yml
Labels: ns:cmc-claim-store-pr-543

#542 ROC-4479: Create event for interlocutory judgment
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccj/InterlocutoryJudgmentEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ns:cmc-claim-store-pr-542

#544 ROC-4673: Add missing parameters to agreement signed GOV notify call
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/services/citizen/SettlementReachedCitizenNotificationTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCounterSignedCitizenActionsHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCounterSignedCitizenActionsHandlerTest.java
Labels: ns:cmc-claim-store-pr-544

#540 Roc 4571
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/offers/SampleOffer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/DefendantResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/FullAdmissionResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/settlementagreement/SettlementAgreementPDFContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/main/resources/staff/templates/document/settlementAgreement.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/FullAdmissionResponseContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/settlementagreement/SettlementAgreementPDFContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ns:cmc-claim-store-pr-540

#556 sidam dry-run
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:cmc-claim-store-pr-556

#555 Remove redundant code for settlement endpoint
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SettlementOfferTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/kubernetes/deployment.template.yaml
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/OffersController.java
Labels: ns:cmc-claim-store-pr-555

#562 push coverage to 80%
  build.gradle
  codecov.yml
Labels: ns:cmc-claim-store-pr-562

#566 ROC-4728 Add reason for redetermination in staff email
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationService.java
  src/main/resources/staff/templates/email/redeterminationRequest/body.txt
Labels: ns:cmc-claim-store-pr-566

#567 ROC-4719: remove dummy app_setting
  dependency-check-suppressions.xml
  infrastructure/main.tf
Labels: ns:cmc-claim-store-pr-567

#538 ROC-3809 Alow states paid acceptance with no formalisation
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtils.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtilsTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimantResponseTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-538

#568 ROC-4724: Handle Disposable Income validation
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidCourtDetermination.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidCourtDeterminationConstraintValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDetermination.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/constraints/ValidCourtDeterminationConstraintValidatorTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDeterminationTest.java
Labels: ns:cmc-claim-store-pr-568

#569 ROC-4757 Migrate old incompatible CCJ data structure
  src/main/resources/db/migration/claimstore/V2018_11_16_0915__Remove_unrecognised_CCJ_field.sql
Labels: ns:cmc-claim-store-pr-569

#571 ROC-4621: Send company or organisation defence email to staff
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/PartyUtils.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/PartyUtilsTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationService.java
  src/main/resources/staff/templates/email/defendantAdmission/body.txt
  src/main/resources/staff/templates/email/defendantAdmission/subject.txt
Labels: ns:cmc-claim-store-pr-571

#577 ROC-4790 States paid claimant response can't get to confirmation page
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptation.java
Labels: ns:cmc-claim-store-pr-577

#576 ROC: 4370 - Removing CCJ issued at
  src/main/resources/db/migration/claimstore/V2018_11_21_1635__Remove_ccj_issued_at_column.sql
Labels: ns:cmc-claim-store-pr-576

#580 ROC-4790 added tests for response acceptation with formaliseOption null
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimantResponseTest.java
Labels: ns:cmc-claim-store-pr-580

#586 ROC-4805 rejected part admit directions questionnaire deadline
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-586

#585 ROC-4836 full defence directions questionnaire deadlines migration
  src/main/resources/db/migration/claimstore/V2018_11_28_1148__Define_directions_questionnaire_deadline_for_full_defence.sql
Labels: ns:cmc-claim-store-pr-585

#590 ROC-4773: Disable ccd async locally
  build.gradle
  src/kubernetes/config.aat.yaml
  src/main/resources/application.yml
Labels: ns:cmc-claim-store-pr-590
