Repository hmcts/cmc-claim-store, pull requests merged in 2018-09, with the labels that each got.

#468 Update domain model for determination of means
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDRepaymentPlan.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ccj/RepaymentPlanMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/CountyCourtJudgment.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/RepaymentPlan.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ClaimantResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDetermination.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/FormaliseOption.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/offers/Settlement.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDeterminationTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptationTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleRepaymentPlan.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/response/SampleCourtDetermination.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/main/resources/db/migration/claimstore/CaseNumbers
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ip:10.97.16.189, ns:cmc, sn:cmc-claim-store-pr-468

#486 ROC-4346: UNIT TESTS on formalise for enable ccj and settlement for redetermination
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ip:10.97.16.178, ns:cmc, sn:cmc-claim-store-pr-486

#488 ROC 4397: Fixing statement around payment declaration
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
Labels: ip:10.97.16.184, ns:cmc, sn:cmc-claim-store-pr-488

#490 ROC-4346: Add decision type for determination
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/RepaymentPlan.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDetermination.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/DeterminationDecisionType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDeterminationTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptationTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejectionTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/response/SampleCourtDetermination.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ip:10.97.16.184, ns:cmc, sn:cmc-claim-store-pr-490

#497 ROC-4415: Finalise claimant response only when finalise option is provided
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ip:10.97.17.1, ns:cmc, sn:cmc-claim-store-pr-497

#498 ROC-4413: Remove reason and change freeMediation to Boolean
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimantResponseTest.java
Labels: ip:10.97.16.254, ns:cmc, sn:cmc-claim-store-pr-498

#470 ROC-4358 add .pdf extension to bulk print failure email attachments
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/BulkPrintStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/BulkPrintStaffNotificationService.java
Labels: ip:10.97.16.176, ns:cmc, sn:cmc-claim-store-pr-470

#499 ROC-4413: Make amountPaid optional and rename DeterminationDecisionType
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ClaimantResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/DecisionType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptation.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptationTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejectionTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimantResponseTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ip:10.97.17.4, ns:cmc, sn:cmc-claim-store-pr-499

#506 ROC-4413: Add reason for states paid claimant response
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejectionTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
Labels: ip:10.97.16.179, ns:cmc, sn:cmc-claim-store-pr-506
