Repository hmcts/cmc-claim-store, pull requests merged in 2018-10, with the labels that each got.

#464 ROC-4330 Notify claimant and defendant that new feature is on claim
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/content/NotificationTemplateParameters.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationServiceTest.java
Labels: ip:10.97.16.224, ns:cmc-claim-store-pr-464

#509 Generate event once claimant response successfully saved
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ip:10.97.16.224, ns:cmc-claim-store-pr-509

#513 Tidy k8s setup: env vars
  Jenkinsfile_CNP
  src/kubernetes/config.aat.yaml
  src/kubernetes/deployment.template.yaml
Labels: ns:cmc-claim-store-pr-513

#516 ROC-4494 Store additional information dring court determination
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/ccj/CCDCountyCourtJudgment.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ccj/CountyCourtJudgmentMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/CountyCourtJudgment.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/CountyCourtJudgmentType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ClaimantResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ClaimantResponseType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDetermination.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/DecisionType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDeterminationTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptationTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/response/SampleCourtDetermination.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/main/resources/db/migration/claimstore/V2018_10_10_1337__migrate_county_court_judgment_for_type.sql
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ns:cmc-claim-store-pr-516

#518 ROC-4426: Splitting defence submitted event to individual type
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDRepaymentPlan.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ccj/RepaymentPlanMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/PaymentIntention.java
  domain-model/src/test/resources/county-court-judgment/by-instalments.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleRepaymentPlan.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/RequestForJudgementNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
  src/test/resources/defendant-response-full-admission.json
Labels: ns:cmc-claim-store-pr-518

#519 Suppress CVE-2016-7048
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:cmc-claim-store-pr-519

#521 Fixing sonar low code coverage issues
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-521

#447 ROC-4257 Correct interest end date for RPA
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/amount/TotalAmountCalculator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/amount/TotalAmountCalculatorTest.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/SealedClaimJsonMapper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/SealedClaimJsonMapperTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimDataContentProvider.java
Labels: ns:cmc-claim-store-pr-447

#522 ROC-4310: Submit claim paid in full
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/PaidInFull.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/ClaimTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/PaidInFullTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/paidinfull/PaidInFullCitizenNotificationHandle.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/paidinfull/PaidInFullEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/paidinfull/PaidInFullStaffNotificationHandle.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/PaidInFullStaffEmailContentProvider.java
  src/main/resources/application.yml
  src/main/resources/db/migration/claimstore/V2018_10_17_1645__Add_money_received_column.sql
  src/main/resources/staff/templates/email/paidInFull/body.txt
  src/main/resources/staff/templates/email/paidInFull/subject.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/paindinfull/PaidInFullCitizenNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/paindinfull/PaidInFullStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/BaseNotificationServiceTest.java
Labels: ns:cmc-claim-store-pr-522

#523 ROC-4310: Refactor out paid in full rule
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/paidinfull/PaidInFullCitizenNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/paidinfull/PaidInFullStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/PaidInFullRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/paindinfull/PaidInFullCitizenNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/paindinfull/PaidInFullStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/PaidInFullRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
Labels: ns:cmc-claim-store-pr-523

#495 ROC-4380 Claimant response for ccd
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDClaimantResponse.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDClaimantResponseType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDCourtDetermination.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDFormaliseOption.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseAcceptation.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseRejection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/offers/CCDMadeBy.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/statementofmeans/CCDLivingPartner.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/statementofmeans/CCDPriorityDebtType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/statementofmeans/CCDStatementOfMeans.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantResponseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/CourtDeterminationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ResponseAcceptationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ResponseRejectionMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/statementofmeans/LivingPartnerMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/statementofmeans/StatementOfMeansMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/LivingPartnerAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ClaimantResponseAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/CourtDeterminationAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseAcceptationAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseRejectionAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/statementofmeans/StatementOfMeansAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantAcceptanceMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantRejectionMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantResponseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/CourtDeterminationMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/MigrateCoreCaseDataService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/config/EtlDbConfiguration.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/api/IdamApi.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/AuthenticateUserResponse.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/GeneratePinRequest.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/GeneratePinResponse.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/Oauth2.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/TokenExchangeResponse.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/properties/IdamCaseworkerProperties.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/services/UserService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimMigrator.java
  ccd-claim-migration/src/main/resources/application.yml
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/support/CCDTestingSupportRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-495

#527 ROC-4436: Change validation for amount and instalment amount
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/RepaymentPlan.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/CourtOrder.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/RepaymentPlanTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/CourtOrderTest.java
Labels: ns:cmc-claim-store-pr-527

#529 ROC-4328: Part admit already paid email template
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationService.java
  src/main/resources/staff/templates/email/defendantAdmission/body.txt
  src/main/resources/staff/templates/email/defendantAdmission/subject.txt
Labels: ns:cmc-claim-store-pr-529

#531 ROC-4622: add local database instance and feature-toggles service to AKS preview envs
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  src/kubernetes/config.aat.yaml
  src/kubernetes/deployment.template.yaml
Labels: ns:cmc-claim-store-pr-531

#532 ROC-4631 Add support endpoint to find claims by payment reference
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/CaseMetadataController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
Labels: ns:cmc-claim-store-pr-532

#536 Adjust CPU resources and cron frequency on AKS
  src/kubernetes/deployment.template.yaml
Labels: ns:cmc-claim-store-pr-536

#535 ROC-4631 new support endpoint missed sql binding
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
Labels: ns:cmc-claim-store-pr-535

#504 ROC-4410 Send redetermination Request in email to judge
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ReDetermination.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/FormaliseOption.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/offers/MadeBy.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/pdf/DocumentTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CountyCourtJudgmentController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimantResponseReceiptService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ClaimantResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/DefendantResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/FullAdmissionResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartAdmissionResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartyDetailsContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PaymentIntentionContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ResponseAcceptationContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ResponseRejectionContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ReDeterminationEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/SettlementReachedStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StaffPdfCreatorService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/countycourtjudgment/ReDeterminationNotificationEmailContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/main/resources/citizen/templates/document/claimantResponseReceipt.html
  src/main/resources/db/migration/claimstore/V2018_10_29_1315__Add_redetermination_column.sql
  src/main/resources/staff/templates/email/redeterminationRequest/body.txt
  src/main/resources/staff/templates/email/redeterminationRequest/subject.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ns:cmc-claim-store-pr-504
