Repository hmcts/cmc-claim-store, pull requests merged in 2019-12, with the labels that each got.

#1333 Add citizen role to have access to raise app insights
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/AppInsightsCallbackHandler.java
Labels: ns:cmc-claim-store-pr-1333

#1336 disable auto merging demo
  Jenkinsfile_CNP
Labels: ns:cmc-claim-store-pr-1336

#1337 Fix get claim by external reference no for legal rep
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimByExternalReferenceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
Labels: ns:cmc-claim-store-pr-1337

#1261 ROC-6457 - Send Email Notifications to Parties on Unsuccessful Mediation
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/content/NotificationTemplateParameters.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedNotificationServiceTest.java
Labels: ns:cmc-claim-store-pr-1261

#1342 ROC-6843:: Untangle IOC callback integration tests
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateCitizenClaimCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateClaimCitizenTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/InitiatePaymentCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/InitiatePaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentTest.java
Labels: ns:cmc-claim-store-pr-1342

#1331 ROC-7023:Add legal advisor features
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtilsTest.java
Labels: ns:cmc-claim-store-pr-1331

#1340 Up the domain version to 1.5.3
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1340

#1347 Resolve functional tests
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ClaimantResponseHelperTest.java
Labels: ns:cmc-claim-store-pr-1347

#1332 ROC-6657 Add Trading as information after name in CCD header
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/util/MapperUtil.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/util/PartyNameUtils.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/MapperUtilTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/PartyNameUtilsTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderCoverSheetContentProvider.java
Labels: ns:cmc-claim-store-pr-1332

#1316 ROC-6970 Add deadline support controller
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireDeadlineCalculator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DateUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireDeadlineCalculatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1316

#1335 ROC-6393: Map parameters to object
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/LinkDefendantToClaimViaAuthenticationTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/IntegrationTestSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/dto/AuthenticationDetails.java
Labels: ns:cmc-claim-store-pr-1335

#1284 ROC-5502 Set paper response flag
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocument.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDScannedDocument.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDScannedDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentCollectionMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ScannedDocumentMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/util/MapperUtil.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentCollectionMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ScannedDocumentMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/MapperUtilTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/PartyNameUtilsTest.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleStaffUploadedDoc.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentCollection.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ScannedDocument.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ScannedDocumentType.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
Labels: ns:cmc-claim-store-pr-1284

#1350 ROC-7162: Check for DQs
  charts/cmc-claim-store/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtils.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtilsTest.java
Labels: ns:cmc-claim-store-pr-1350

#1343 ROC-6843: Shift and fix more integration tests
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CalendarTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CourtFinderTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateLegalRepClaimCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/helper/JsonMappingHelper.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/BulkPrintStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceWithEmailServiceRetryTest.java
Labels: ns:cmc-claim-store-pr-1343

#1353 claim-store chart refactoring
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1353

#1355 ROC-6843: Migrate and fix tests
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CalendarTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CourtFinderTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateCitizenClaimCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateClaimCitizenTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateLegalRepClaimCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/InitiatePaymentCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/InitiatePaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/BulkPrintStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationEmailContentProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectionStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceWithEmailServiceRetryTest.java
Labels: ns:cmc-claim-store-pr-1355

#1354 ROC-7141: Stayed Claim CCJ
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
Labels: ns:cmc-claim-store-pr-1354

#1359 ROC-7063 Allow accepting repayment plans starting in the past
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/RepaymentPlan.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDetermination.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/PaymentIntention.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/response/PaymentIntentionTest.java
Labels: ns:cmc-claim-store-pr-1359
