Repository hmcts/cmc-claim-store, pull requests merged in 2019-05, with the labels that each got.

#896 Fix idam intermittent failures in tests
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestService.java
Labels: ns:cmc-claim-store-pr-896

#895 ROC-5605 pdf file size not being saved
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
Labels: ns:cmc-claim-store-pr-895

#891 Exclude lombok generated code from coverage scan
  lombok.config
Labels: ns:cmc-claim-store-pr-891

#898 Remove explicit Azure Provider version
  infrastructure/main.tf
Labels: ns:cmc-claim-store-pr-898

#892 ROC-5598 - Resend Claimant Response Staff Notifications from Support Controller
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-892

#884 Tidy up TIDAM code - no longer relevant with new SIDAM images
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/idam/IdamApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/idam/TacticalIdamApi.java
Labels: ns:cmc-claim-store-pr-884

#872 ROC-5507 - Add court finder API to claim store
  build.gradle
  codecov.yml
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/MockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CourtFinderTest.java
  src/integrationTest/resources/courtfinder-court-search.json
  src/integrationTest/resources/courtfinder-postcode-search.json
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CourtFinderController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/courtfinder/CourtFinderApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/courtfinder/models/Address.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/courtfinder/models/Court.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/courtfinder/models/CourtDetails.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/courtfinder/models/Facilities.java
  src/main/resources/application.yml
Labels: ns:cmc-claim-store-pr-872

#889 Fixing upload documents in parallel mode
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/CCDEventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDLinkSealedClaimDocumentEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDSaveClaimDocumentEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
Labels: ns:cmc-claim-store-pr-889

#830 ROC-5321: Add lead applicant indicator for first citizen claimant
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDApplicant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantMapperTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
Labels: ns:cmc-claim-store-pr-830, pinned, tested locally

#906 Remove unnecessary IDAM delay from functional tests
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestService.java
Labels: ns:cmc-claim-store-pr-906

#900 ROC-5314 handle document upload events
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/MigrationHandler.java
Labels: ns:cmc-claim-store-pr-900

#905 ROC-5467 improve resilience deferred operations
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimSubmissionOperationIndicators.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimSubmissionOperationIndicators.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/ClaimStore.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/BulkPrintRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/errors/EndpointErrorsTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ClaimCreationEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/CitizenClaimCreatedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimCreationEventsStatusService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimCreationOperation.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/NotifyStaffOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/RpaOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/UploadOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/solicitor/RepresentedClaimCreatedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/resources/db/migration/claimstore/V2019_04_12_1414__schema_change_for_claim_submission_operation_indicator.sql
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimCreationEventsStatusServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/operations/NotifyStaffOperationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/operations/RpaOperationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/operations/UploadOperationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-905

#907 SPROD: configured - DM store / ccd async / async operations (enabled)
  infrastructure/sprod.tfvars
Labels: ns:cmc-claim-store-pr-907

#919 Disable ccd async in aat & prod
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:cmc-claim-store-pr-919

#921 Add specific value for feature toggles
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CCDStoreConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/NotificationsConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimCreationEventsStatusService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCountersignedStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/NotifyStaffOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/RpaOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/UploadOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/DefendantResponseStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/support/CCDTestingSupportRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/DefenceResponseNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/MoreTimeRequestedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/PaidInFullNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/RequestForJudgementNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/RpaNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ReferenceNumberService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CCDCreateCaseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationService.java
Labels: ns:cmc-claim-store-pr-921

#918 Disable demo git copy
  Jenkinsfile_CNP
Labels: ns:cmc-claim-store-pr-918

#865 ROC-5423: Rename reference number to previous service case reference
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/SearchCCDCaseService.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimByClaimReferenceFromCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsCoreCaseDataTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/resources/core-case-data/search-response-CCJ.success.json
  src/test/resources/core-case-data/search-response-linked-defendant.success.json
  src/test/resources/core-case-data/search-response-with-def-res.success.json
  src/test/resources/core-case-data/search-response-with-def.success.json
  src/test/resources/core-case-data/search-response-with-offer-counter-signed.success.json
  src/test/resources/core-case-data/search-response.success.json
  src/test/resources/core-case-data/start-response.success.json
  src/test/resources/core-case-data/submit-event.success.json
  src/test/resources/core-case-data/submit-representative-response.success.json
  src/test/resources/core-case-data/submit-response.success.json
Labels: ns:cmc-claim-store-pr-865, pinned

#887 ROC-5552 save pdf file size
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocument.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapperTest.java
Labels: ns:cmc-claim-store-pr-887

#931 Fix bad chart update :(
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-931

#901 ROC-5469: Support end point to help recovering failed claim issue operations
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/MockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceWithEmailServiceRetryTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-901

#934 Add idempotent feature of post orchestration of claim lost in merging
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimCreationOperation.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/NotificationOperation.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PDFBasedOperation.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/RepNotificationOperation.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandlerTest.java
Labels: ns:cmc-claim-store-pr-934

#932 ROC-5468: Support endpoint to monitor claim submission issues
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  codecov.yml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/CaseMetadata.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/GetMetadataTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/CaseMetadataController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
Labels: ns:cmc-claim-store-pr-932

#935 Correct idam url
  ccd-claim-migration/src/main/resources/application.yml
Labels: ns:cmc-claim-store-pr-935

#910 ROC-5610 dont store defendant pin letter in DM
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapperTest.java
  charts/cmc-claim-store/values.preview.template.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimSubmissionOperationIndicators.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimSubmissionOperationIndicators.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimCreationEventsStatusService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/GeneratedDocuments.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/AlwaysGenerateDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimCreationEventsStatusServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
Labels: ns:cmc-claim-store-pr-910

#933 Support functional tests for async operations
  charts/cmc-claim-store/values.yaml
  infrastructure/aat.tfvars
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/BasePdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimPdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/solicitor/SolicitorPdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/ClaimOperation.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/UploadOperationService.java
Labels: ns:cmc-claim-store-pr-933

#927 Assign additional role citizen for documents to overcome Link defendant failure in CCD
  charts/cmc-claim-store/values.yaml
  infrastructure/main.tf
  src/aat/resources/environment.properties
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
Labels: ns:cmc-claim-store-pr-927

#951 Resolve Async handling on failures
  email-client/src/main/java/uk/gov/hmcts/cmc/email/EmailService.java
  email-client/src/test/java/uk/gov/hmcts/cmc/email/EmailServiceTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/ClaimOperation.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimCreationEventsStatusService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/GeneratedDocuments.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/UploadOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/CountersignSettlementAgreementActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/operations/UploadOperationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/CCJNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
Labels: ns:cmc-claim-store-pr-951

#938 ROC-5553: Turn on async processing of post operations in prod
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
Labels: ns:cmc-claim-store-pr-938

#955 Fix - Update claim state issued to open
  src/main/resources/db/migration/claimstore/V2019_05_20_1320__set_status_issued_to_open_for_existing_claims.sql
Labels: ns:cmc-claim-store-pr-955

#956 Add link letter holder in ccd async handler
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/CCDEventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDLinkLetterHolderEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-956

#886 ROC-5369: Handle duplicate claim creation in ccd
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
Labels: ns:cmc-claim-store-pr-886, pinned

#839 ROC-5354 Add served date mapping to CCD
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDDefendant.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
Labels: ns:cmc-claim-store-pr-839, pinned

#957 ROC-5473 claim submission operation ccd jenkins issue
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimSubmissionOperationIndicators.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimSubmissionOperationIndicatorMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDClaimSubmissionOperationIndicators.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/MigrationHandler.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/YesNoOption.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimByClaimReferenceFromCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimAsynchronouslyAtCCDTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithCoreCaseDataStoreTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CCDCreateCaseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/resources/core-case-data/search-response-CCJ.success.json
  src/test/resources/core-case-data/search-response-linked-defendant.success.json
  src/test/resources/core-case-data/search-response-with-def-res.success.json
  src/test/resources/core-case-data/search-response-with-def.success.json
  src/test/resources/core-case-data/search-response-with-offer-counter-signed.success.json
  src/test/resources/core-case-data/search-response.success.json
  src/test/resources/core-case-data/start-response.success.json
  src/test/resources/core-case-data/submit-event.success.json
  src/test/resources/core-case-data/submit-representative-response.success.json
  src/test/resources/core-case-data/submit-response.success.json
Labels: ns:cmc-claim-store-pr-957

#953 ROC-5615 remove ccj upload and download code
  Jenkinsfile_CNP
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapperTest.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/MigrationHandler.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/BasePdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/CountyCourtJudgmentByAdmissionPdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/DefaultCountyCourtJudgmentPdfTest.java
  src/aat/resources/environment.properties
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateCountyCourtJudgementCopyTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/DocumentsController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/AlwaysGenerateDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
Labels: ns:cmc-claim-store-pr-953

#795 ROC-5168: Remove Pre payment calls and its reference.
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/CaseReference.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/BaseSubmitClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/solicitor/SolicitorPdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/PrePaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimAsynchronouslyAtCCDTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ResourceLoader.java
Labels: ns:cmc-claim-store-pr-795

#967 ROC-5726-Fix-Duplicate-Event-For-Upload-Documents
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentCollectionMapperTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/UploadOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/operations/UploadOperationServiceTest.java
Labels: ns:cmc-claim-store-pr-967

#970 ROC-5732: Add the document binary Url and document name in ccd document
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDDocument.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapperTest.java
Labels: ns:cmc-claim-store-pr-970

#974 Rename the Claim state to `create`
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/MigrationHandler.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/ClaimStore.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/GetMetadataTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/CaseMetadataController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/resources/db/migration/claimstore/V2019_05_28_1500__rename_created_state_to_create.sql
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
Labels: ns:cmc-claim-store-pr-974

#982 Remove invalid filter check
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
Labels: ns:cmc-claim-store-pr-982

#972 Enable CCD in production
  infrastructure/prod.tfvars
Labels: ns:cmc-claim-store-pr-972

#986 Bring DEMO back in-line with master
  Jenkinsfile_CNP
  infrastructure/demo.tfvars
Labels: ns:cmc-claim-store-pr-986

#987 Resolve ccd interest date mapper issue
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/InterestDateMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/InterestDateMapperTest.java
Labels: ns:cmc-claim-store-pr-987

#988 Bump CCD definitions in PRs to 1.2.5
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-988
