Repository hmcts/cmc-claim-store, pull requests merged in 2019-07, with the labels that each got.

#1028 Update IDAM PR chart yaml for frontend deployment
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1028

#1019 ROC-5871: Allow claimant to fetch created claims
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
Labels: ns:cmc-claim-store-pr-1019

#1032 ROC-5716 Change template variables and add extra lists
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDHearingDurationType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderDirection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderDirectionType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderGenerationData.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDClaimSubmissionOperationIndicators.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/OtherDirection.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:cmc-claim-store-pr-1032

#1029 CCD 1.2.10 Release
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1029

#1037 New java base image
  Dockerfile
Labels: ns:cmc-claim-store-pr-1037

#1025 ROC-5811: add endpoint for returning next working day
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/NextWorkingDay.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CalendarTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CalendarController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/WorkingDayIndicator.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/WorkingDayIndicatorTest.java
Labels: ns:cmc-claim-store-pr-1025

#1026 ROC-5936 Remove authorisation header from claim recovery endpoint
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-1026

#1038 ROC-5964 Defendant response PDF to show "Retired" when appropriate
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/StatementOfMeansContentProvider.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/StatementOfMeansContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1038

#1045 ROC-5992: Add domain model for review order
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDReviewOrder.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ReviewOrderMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ReviewOrderAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ReviewOrderMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ReviewOrder.java
Labels: ns:cmc-claim-store-pr-1045

#1036 CCD 1.2.12 Release
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1036

#1006 ROC-5387 Save directions questionnaire
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseRejection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/directionsquestionnaire/CCDCourtLocationOption.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/directionsquestionnaire/CCDDirectionsQuestionnaire.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/directionsquestionnaire/CCDExpertReport.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionsQuestionnaireMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ExpertReportMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/UnavailableDateMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/YesNoMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantResponseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ResponseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionsQuestionnaireAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ExpertReportAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/ResponseAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantResponseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionsQuestionnaireMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ExpertReportMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/UnavailableDateMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/YesNoMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDDirectionsQuestionnaire.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/StreamUtilTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/CourtLocationType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/DirectionsQuestionnaire.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/ExpertReport.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/ExpertRequest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/HearingLocation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/RequireSupport.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/UnavailableDate.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/Witness.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/FullDefenceResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/PartAdmissionResponse.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejectionTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleDirectionsQuestionnaire.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/resources/defendant-response-full-defence.json
Labels: ns:cmc-claim-store-pr-1006

#1039 ROC-5098-Elastic Search enablement to CCD
  build.gradle
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseSearchApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/Query.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DateUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepositoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/QueryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/SampleQueryConstants.java
Labels: ns:cmc-claim-store-pr-1039

#1020 ROC-5770 Legal advisor journey UI changes
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderGenerationData.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/courtfinder/CourtFinderApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/LegalOrderGenerationDeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/LegalOrderGenerationDeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:cmc-claim-store-pr-1020

#996 ROC-5705 Print legal order and cover sheet on legal order drawn
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/BulkPrintRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DummyBulkPrintRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/BulkPrintStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/pdf/DocumentTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DummyBulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/PrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/bulkprint/Printable.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/bulkprint/PrintableDocument.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/bulkprint/PrintablePdf.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/bulkprint/PrintableTemplate.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/legaladvisor/DirectionsOrderReadyToPrintEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/BulkPrintStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderCoverSheetContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/PartyNameUtils.java
  src/main/resources/staff/templates/document/legalOrderCoverSheet.html
  src/main/resources/staff/templates/email/bulkPrintFailure/body.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/DummyBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderCoverSheetContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/PartyNameUtilsTest.java
Labels: ns:cmc-claim-store-pr-996

#1052 Upgrade owasp dependency
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/TemplateConstants.java
Labels: ns:cmc-claim-store-pr-1052

#1027 ROC-5893 Add new headers to the LA UI
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDHearingDurationType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderDirection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderGenerationData.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOtherDirectionHeaderType.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:cmc-claim-store-pr-1027

#1024 ROC-5387: ReferredToMediation and AssigningForDirections events for claimant DQ journey
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/PilotCourt.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/PilotCourtTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/ClaimOperation.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimantResponseTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/ClaimantResponseHelper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtils.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/TheirDetailsHelper.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ClaimantResponseHelperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtilsTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/TheirDetailsHelperTest.java
Labels: ns:cmc-claim-store-pr-1024

#1048 ROC-5992: save review order in ccd
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDReviewOrder.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ReviewOrderMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ReviewOrderMapperTest.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ReviewOrder.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleReviewOrder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ReviewOrderRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ReviewOrderRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-1048, pinned

#1061 ROC-6050: Update logic for calculating pilot court
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/PilotCourt.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/PilotCourtTest.java
Labels: ns:cmc-claim-store-pr-1061

#1051 ROC-5995 Send review order notification to both parties
  codecov.yml
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/revieworder/ReviewOrderCitizenNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/revieworder/ReviewOrderEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/EventProducerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/paidinfull/PaidInFullCitizenNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/revieworder/ReviewOrderCitizenNotificationHandlerTest.java
Labels: ns:cmc-claim-store-pr-1051, pinned

#1063 ROC-5841 Map DQ hearing court to LA UI
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDApplicant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDHearingCourtType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderGenerationData.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtilsTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ResourceLoader.java
  src/test/resources/core-case-data/submit-response.success-with-dq.json
  src/test/resources/doc-assembly-template.json
Labels: ns:cmc-claim-store-pr-1063
