Repository hmcts/cmc-claim-store, pull requests merged in 2019-10, with the labels that each got.

#1071 ROC-5583: Remove ccd enable feature flag
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CourtFinderTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimByReferenceNumberTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimsByClaimantIdFromCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/LinkDefendantToClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/LinkDefendantToClaimWithWithCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RequestMoreTimeForResponseWithCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveDefendantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/services/citizen/SettlementReachedCitizenNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/testingsupport/LinkDefendantToClaimTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/support/CCDTestingSupportRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/support/DBTestingSupportRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ReferenceNumberService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CCDCreateCaseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/resources/application.yml
Labels: ns:cmc-claim-store-pr-1071, pinned

#1138 ROC:6129: Legal rep submit claim ioc
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CreateLegalRepClaimCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legalrep/CreateLegalRepClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-1138, pinned

#1198 Suppress CVE-2019-16869
  dependency-check-suppressions.xml
Labels: ns:cmc-claim-store-pr-1198

#1195 Release definition 1.3.3
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1195

#1180 Add support endpoint to reset claim submission indicators
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithCoreCaseDataStoreTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimSubmissionOperationIndicatorRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimSubmissionOperationIndicatorRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/resources/core-case-data/search-response-with-def-res.success.json
  src/test/resources/core-case-data/search-response-with-def.success.json
  src/test/resources/core-case-data/start-response.success.json
Labels: ns:cmc-claim-store-pr-1180

#1178 ROC-6119 Add resume payment for citizen endpoint
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapperTest.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Payment.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/PaymentStatus.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ioc/CreatePaymentResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SamplePayment.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/resources/claim-application.json
Labels: ns:cmc-claim-store-pr-1178

#1196 ROC-6584-Page Size setting for Elastic Search.
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/Query.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/QueryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/SampleQueryConstants.java
Labels: ns:cmc-claim-store-pr-1196

#1070 ROC-5583: Remove document management feature toggle
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  dependency-check-suppressions.xml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/BulkPrintRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CourtFinderTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DummyBulkPrintRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimByClaimReferenceFromCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimByExternalIdFromCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimByReferenceNumberTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimsByClaimantIdFromCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/LinkDefendantToClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/LinkDefendantToClaimWithWithCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RequestMoreTimeForResponseWithCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimAsynchronouslyAtCCDTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveDefendantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/services/citizen/SettlementReachedCitizenNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/testingsupport/LinkDefendantToClaimTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/support/CCDTestingSupportRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/support/DBTestingSupportRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ReferenceNumberService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CCDCreateCaseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/AlwaysGenerateDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderService.java
  src/main/resources/application.yml
Labels: ns:cmc-claim-store-pr-1070

#1185 ROC-6116 Add callback to initiate a payment
  build.gradle
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/Assertions.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Payment.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ioc/CreatePaymentResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ioc/InitiatePaymentRequest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/InitiatePaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/InitiatePaymentCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CCDStoreConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/InitiatePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandler.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/InitiatePaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/test/resources/core-case-data/submit-response.success.json
Labels: ns:cmc-claim-store-pr-1185

#1197 Add Role base access to callback
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CreateLegalRepClaimCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/InitiatePaymentCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/AppInsightsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/CallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/InitiatePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legalrep/CreateLegalRepClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CallbackHandlerFactoryTest.java
Labels: ns:cmc-claim-store-pr-1197

#1201 enable email notification in AI
  lib/AI-Agent.xml
Labels: ns:cmc-claim-store-pr-1201

#1208 Disable healthchecks for fees and payments
  build.gradle
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  codecov.yml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/FeesAndPaymentsConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/InitiatePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
Labels: ns:cmc-claim-store-pr-1208

#1202 ROC-6258 Remove DQDeadlineCalculator from Full Defence Response
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
Labels: ns:cmc-claim-store-pr-1202

#1209 Disable fees and pay urls in tf files
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:cmc-claim-store-pr-1209

#1174 ROC-4043-Save Claimant provided defendant phone number
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CompanyDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/OrganisationDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderDetailsMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/TheirDetailsMapperTest.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleCCDTelephone.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/CompanyDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/IndividualDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/OrganisationDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/SoleTraderDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/TheirDetails.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/PartyUtilsTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleTheirDetails.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimContentProvider.java
  src/main/resources/staff/templates/document/sealedClaim.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/SealedClaimDataContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1174

#1207 ROC-6581: Role Based Access for Legal
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CreateLegalRepClaimCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legalrep/CreateLegalRepClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legalrep/CreateLegalRepClaimCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1207

#1215 ROC-6619 RPA support endpoints
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/RoboticsSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/RoboticsSupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-1215

#1199 RDM-5985: IOC definition release for legal rep
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1199

#1193 ROC-6537: Recreate direction order pdf during direction order
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
Labels: ns:cmc-claim-store-pr-1193

#1206 Add performance metrics in logs for legal save claim
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legalrep/CreateLegalRepClaimCallbackHandler.java
Labels: ns:cmc-claim-store-pr-1206

#1220 Using definition 1.4.2 for aks
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1220

#1216 ROC-6630 Map null payment status
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/PaymentStatus.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/PaymentStatusTest.java
Labels: ns:cmc-claim-store-pr-1216

#1231 Fix CVE-2019-16942 and CVE-2019-16943
  build.gradle
  dependency-check-suppressions.xml
  domain-model/build.gradle
Labels: ns:cmc-claim-store-pr-1231

#1233 Clean up gradle file after cve fix
  build.gradle
Labels: ns:cmc-claim-store-pr-1233

#1224 ROC-6116 Send payment amount for just the fee
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsServiceTest.java
Labels: ns:cmc-claim-store-pr-1224

#1225 ROC-6005 Encode pretty apostrophes as `&#8217;`
  src/main/resources/citizen/templates/document/claimIssueReceipt.html
  src/main/resources/citizen/templates/document/claimantResponseReceipt.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/main/resources/staff/templates/document/defendantPinLetter.html
  src/main/resources/staff/templates/document/legalOrderCoverSheet.html
  src/main/resources/staff/templates/document/legalSealedClaim.html
  src/main/resources/staff/templates/document/sealedClaim.html
  src/main/resources/staff/templates/document/settlementAgreement.html
  web.config
Labels: ns:cmc-claim-store-pr-1225

#1234 bump chart version
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
Labels: ns:cmc-claim-store-pr-1234

#1232 ROC-6642: Add intentionToProceedDeadline to claim
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverter.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverterTest.java
Labels: ns:cmc-claim-store-pr-1232

#1237 ROC-6699 Update support controller for DM uploads
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-1237

#1242 definition release 1.4.5
  charts/cmc-claim-store/values.preview.template.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
Labels: ns:cmc-claim-store-pr-1242

#1246 ROC-6725 Update metadata structure to support multi-party (for LR)
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/CaseMetadata.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
Labels: ns:cmc-claim-store-pr-1246

#1240 ROC-6715: Persist intention to proceed deadline
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-1240

#1249 increase memory for nodejs
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1249

#1239 Remove '& 196' from states paid email body
  src/main/resources/staff/templates/email/statesPaid/body.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/StatesPaidEmailContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1239

#1190 ROC-6543 Correctly report mediation selection in defence RPA JSON
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/DefenceResponseJsonMapper.java
Labels: ns:cmc-claim-store-pr-1190

#1241 ROC-6385 Add logging for ioc callbacks
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/InitiatePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legalrep/CreateLegalRepClaimCallbackHandler.java
Labels: ns:cmc-claim-store-pr-1241

#1221 ROC 6536 store response to dq expert response question
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/directionsquestionnaire/CCDDirectionsQuestionnaire.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionsQuestionnaireMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionsQuestionnaireAssert.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleCCDDirectionsQuestionnaire.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/DirectionsQuestionnaire.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleDirectionsQuestionnaire.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/HearingContent.java
  src/main/resources/citizen/templates/document/claimantDirectionsQuestionnaire.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/resources/defendant-response-full-defence.json
Labels: ns:cmc-claim-store-pr-1221

#1204 ROC-5421 - Defendant phone number by defendant
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/TheirDetails.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartyDetailsContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/models/PartyDetailsContent.java
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartyDetailsContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1204

#1259 Refactor: remove unused transactional manager
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/OffersService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementService.java
Labels: ns:cmc-claim-store-pr-1259

#1254 ROC 6536 - Hearing Content Provider changes to use the new CCD fields
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProvider.java
  src/main/resources/citizen/templates/document/claimantDirectionsQuestionnaire.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1254

#1258 ROC-6763: Add hearing court name in direction order
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDDirectionOrder.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionOrderAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapperTest.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/DirectionOrder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1258

#1252 Roc-6450: Showing expert report direction permission in ccd ui
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderGenerationData.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapperTest.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/DirectionOrder.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/rules/GenerateOrderRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/rules/GenerateOrderRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/resources/core-case-data/submit-response.success-with-dq.json
  src/test/resources/doc-assembly-template.json
Labels: ns:cmc-claim-store-pr-1252

#1262 Release definition 1.4.6
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1262

#1263 ROC-6450: Showing expert report direction for expert report
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1263

#1265 ROC-6784 Enable resend staff notifications for PIF
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-1265

#1049 ROC-3567 Refactoring references to "mobile" to "phone"
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CompanyMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/OrganisationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimantAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/DefendantPartyAssert.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Company.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Individual.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Organisation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Party.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/SoleTrader.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/constraints/PhoneNumberConstraintValidatorTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/PartyTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/PhoneNumberValidationTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/PartyUtilsTest.java
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleParty.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/DefendantJsonMapper.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/SealedClaimJsonMapper.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartyDetailsContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/models/PartyDetailsContent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimantContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/PersonContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/ClaimantContent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/PersonContent.java
  src/main/resources/citizen/templates/document/claimIssueReceipt.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/main/resources/staff/templates/document/countyCourtJudgmentDetails.html
  src/main/resources/staff/templates/document/sealedClaim.html
  src/main/resources/staff/templates/document/settlementAgreement.html
  src/main/resources/staff/templates/email/defendantAdmission/body.txt
  src/main/resources/staff/templates/email/fullDefence/body.txt
  src/main/resources/staff/templates/email/statesPaid/body.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartyDetailsContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/content/FullDefenceStaffEmailContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimantContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/PersonContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/SealedClaimDataContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/StatesPaidEmailContentProviderTest.java
  src/test/resources/claim-application.json
  src/test/resources/defendant-response-full-admission.json
  src/test/resources/defendant-response-full-defence.json
  src/test/resources/defendant-response.json
  src/test/resources/jackson-serialization-samples/claimant-response.json
  src/test/resources/legal-claim-application.json
Labels: ns:cmc-claim-store-pr-1049

#1266 Bump quartz version because of CVE-2019-13990
  build.gradle
Labels: ns:cmc-claim-store-pr-1266

#1253 ROC-6569 settlement staff emails
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/settlementagreement/SettlementCountersignedEmailContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/CountersignSettlementAgreementActionsHandler.java
  src/main/resources/staff/templates/email/settlementAgreement/countersigned/body.txt
  src/main/resources/staff/templates/email/settlementAgreement/countersigned/subject.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/settlementagreement/SettlementCountersignedEmailContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/CountersignSettlementAgreementActionsHandlerTest.java
Labels: ns:cmc-claim-store-pr-1253

#1269 upgrade java chart version
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:cmc-claim-store-pr-1269

#1248 ROC-6127 Serialise claim state and remove submitter id from ioc endpoints
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/CaseMetadata.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateClaimCitizenTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/InitiatePaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverterTest.java
Labels: ns:cmc-claim-store-pr-1248

#1271 ROC-6800: Change bulk print document order for Orders
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandlerTest.java
Labels: ns:cmc-claim-store-pr-1271
