Repository hmcts/cmc-claim-store, pull requests merged in 2019-08, with the labels that each got.

#1030 ROC-5719: Send judgment by determination request email notification
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/CCJContent.java
  src/main/resources/staff/templates/document/countyCourtJudgmentDetails.html
  src/main/resources/staff/templates/email/ccjRequestSubmitted/subject.txt
Labels: ns:cmc-claim-store-pr-1030

#1042 ROC-5998 Add generic endpoint for pdf generation / retrieval from dm store + refactor
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/CaseMetadata.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentTypeTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateSealedClaimTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/DocumentsController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimIssueReceiptService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimantResponseReceiptService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/CountyCourtJudgmentPdfService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DefendantResponseReceiptService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/PdfService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/SealedClaimPdfService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/SettlementAgreementCopyService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/DefenceResponseNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/RequestForJudgementNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/AlwaysGenerateDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/SettlementReachedStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StaffPdfCreatorService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/DocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/DefendantResponseReceiptServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/SettlementAgreementCopyServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentOrchestrationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderServiceTest.java
Labels: ns:cmc-claim-store-pr-1042

#1093 Delay between user creation and auth (recommended by idam support)
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestService.java
Labels: ns:cmc-claim-store-pr-1093

#1100 ROC-6050: Add DQ flag to config files
  charts/cmc-claim-store/values.preview.template.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/application.yml
Labels: ns:cmc-claim-store-pr-1100

#1089 ROC-6098 States paid in full rejected with mediation staff notification update
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationService.java
  src/main/resources/staff/templates/email/statesPaid/body.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/StatesPaidEmailContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1089

#1090 ROC-6137:Add mediation pdf content for Full defence
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/FullDefenceResponseContentProvider.java
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/DefendantResponseContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1090

#1079 ROC-6106 Remove the auth header from resend staff notifications endpoint
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-1079

#1098 CCD 1.2.21 release
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1098

#1091 ROC-6112: Validations for directions questionnaire
  dependency-check-suppressions.xml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/DirectionsQuestionnaire.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/ExpertReport.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/ExpertRequest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/HearingLocation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/RequireSupport.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/Witness.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/ExpertReportTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/ExpertRequestTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/RequireSupportTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/WitnessTest.java
Labels: ns:cmc-claim-store-pr-1091

#1095 ROC-6084: Change validation for hearing location
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionsQuestionnaireMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionsQuestionnaireAssert.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/DirectionsQuestionnaire.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/HearingLocation.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtils.java
Labels: ns:cmc-claim-store-pr-1095, pinned

#1096 ROC-6017 Trigger Ready for transfer event for online dq
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtilsTest.java
Labels: ns:cmc-claim-store-pr-1096

#1056 ROC-5749: Staff email when claimant intends to proceed with directions hearing
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectionStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimantDirectionsHearingContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/ClaimantResponseHelper.java
  src/main/resources/staff/templates/email/claimantResponse/rejection/directionsHearing/body.txt
  src/main/resources/staff/templates/email/claimantResponse/rejection/directionsHearing/subject.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimantDirectionsHearingContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ClaimantResponseHelperTest.java
Labels: ns:cmc-claim-store-pr-1056

#1062 ROC-6027: Resend staff notification for dq on intent to proceed
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-1062, pinned

#1114 Clean up code
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapper.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/AcceptOrRejectOfferTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CountyCourtJudgmentController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/AlwaysGenerateDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
Labels: ns:cmc-claim-store-pr-1114

#1055 ROC-5528: Notify defendant of free mediation confirmation
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/ResponseHelper.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
Labels: ns:cmc-claim-store-pr-1055

#1034 ROC-5897: Notify defendant of intend to proceed
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionHandlerTest.java
Labels: ns:cmc-claim-store-pr-1034, pinned

#1106 ROC-6848 Directions questionnaire date for offline dq
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-1106

#1115 Disable auto merge to demo
  Jenkinsfile_CNP
Labels: ns:cmc-claim-store-pr-1115

#1117 enable auto merge to demo
  Jenkinsfile_CNP
Labels: ns:cmc-claim-store-pr-1117

#1084 ROC-5993 Generate and download the Review Order PDF
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentTypeTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/pdf/DocumentTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ReviewOrderService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ReviewOrderContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/revieworder/ReviewOrderEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/PersonContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/PersonContent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/main/resources/citizen/templates/document/reviewOrder.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/ReviewOrderServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/ReviewOrderContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/EventProducerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/revieworder/ReviewOrderCitizenNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtilsTest.java
Labels: ns:cmc-claim-store-pr-1084

#1088 ROC-6013 Add missing states paid (PIF) amount to response PDF
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/FullDefenceResponseContentProvider.java
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/DefendantResponseContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1088

#1116 CCD 1.2.23 release
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1116

#1107 Fix CVE-2019-14379 vulnerability
  build.gradle
Labels: ns:cmc-claim-store-pr-1107

#1057 ROC-5545 hearing questions save to DM
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionsQuestionnaireMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimSubmissionOperationIndicators.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentTypeTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleDirectionsQuestionnaire.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleHearingLocation.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/pdf/DocumentTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/FullDefenceResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartAdmissionResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/ClaimantDirectionsQuestionnaireContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/questionnaire/ClaimantDirectionsQuestionnairePdfService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/ExpertReportContent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/HearingContent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DateUtils.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/main/resources/citizen/templates/document/claimantDirectionsQuestionnaire.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/DefendantResponseContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartAdmissionResponseContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/ClaimantDirectionsQuestionnaireContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/questionnaire/ClaimantDirectionsQuestionnairePdfServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
  src/test/resources/defendant-response-full-defence.json
Labels: ns:cmc-claim-store-pr-1057

#1121 Remove unused BaseCCJPdfTest class
  build.gradle
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/BaseCCJPdfTest.java
Labels: ns:cmc-claim-store-pr-1121

#1122 Log metrics for post operations and common operations in functional tests
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/ClaimOperation.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/RpaOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/UploadOperationService.java
Labels: ns:cmc-claim-store-pr-1122

#1072 ROC-6044 Enable staff notifications of Refer to Judge against individuals
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-1072

#1125 ROC-6214: Reuse claimant user for functional tests
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/Bootstrap.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimPdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/CountyCourtJudgementTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/LinkDefendantTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/PaidInFullTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SettlementOfferTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SubmitClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/solicitor/SolicitorPdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/solicitor/SolicitorSubmitClaimTest.java
Labels: ns:cmc-claim-store-pr-1125

#1127 ROC-6049: Re use defendant user in functional tests
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/LinkDefendantTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SettlementOfferTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestService.java
Labels: ns:cmc-claim-store-pr-1127

#1123 Enable DQs in demo only
  infrastructure/demo.tfvars
Labels: ns:cmc-claim-store-pr-1123

#1130 Improve smoke test fix
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/Bootstrap.java
Labels: ns:cmc-claim-store-pr-1130

#1133 disable pushing to demo
  Jenkinsfile_CNP
Labels: ns:cmc-claim-store-pr-1133

#1136 ROC-6049: Move negative scenarios in functional tests to integration
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/BaseSubmitClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/CountyCourtJudgementTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SubmitClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveDefendantResponseTest.java
Labels: ns:cmc-claim-store-pr-1136

#1131 ROC 4263 db migration
  Jenkinsfile_CNP
  charts/cmc-claim-store/requirements.yaml
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CmcDBConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/DbConfiguration.java
  src/main/resources/cmc/db/migration/V2019_08_07_1430__migrate-claim-reference-number.sql
  src/main/resources/cmc/db/migration/V2019_08_07_1545__migrate_legal_rep_reference_number_seq.sql
Labels: ns:cmc-claim-store-pr-1131

#1132 CCD 1.2.24 release
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1132

#1142 Fix CVE errors
  build.gradle
  dependency-check-suppressions.xml
  domain-model/build.gradle
Labels: ns:cmc-claim-store-pr-1142

#1094 ROC-6108: Capture direction order details in ccd case
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDDirectionOrder.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderDirection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderGenerationData.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionOrderAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/Direction.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/DirectionHeaderType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/DirectionOrder.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/DirectionParty.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/DirectionType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/HearingDurationType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/LocalDateTimeFactory.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleDirectionOrder.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ClaimantResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/HearingCourtDetailsFinder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/HearingCourtMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/OtherDirection.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/RejectSettlementAgreementStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverter.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedCitizenNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimAuthorisationRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:cmc-claim-store-pr-1094

#909 ROC-5122 Scheduled mediation reports for MILO
  build.gradle
  charts/cmc-claim-store/values.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/amount/TotalAmountCalculator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/MediationRequest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/MediationRow.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/amount/TotalAmountCalculatorTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/ClaimDataTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  email-client/src/main/java/uk/gov/hmcts/cmc/email/EmailAttachment.java
  email-client/src/test/java/uk/gov/hmcts/cmc/email/EmailAttachmentTest.java
  infrastructure/main.tf
  job-scheduler/src/main/java/uk/gov/hmcts/cmc/scheduler/config/QuartzConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/exceptions/MediationCSVGenerationException.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/MediationCSVGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/MediationReportService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/MediationCSVGeneratorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/MediationReportServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DateUtilsTest.java
Labels: ns:cmc-claim-store-pr-909

#1146 ROC-6307: Resolve optional fields and document name
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandler.java
Labels: ns:cmc-claim-store-pr-1146

#1102 Add retry & cleanup for IDAM in functional tests
  build.gradle
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/Bootstrap.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/config/FeignConfig.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/config/FeignErrorDecoder.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/exception/ForbiddenException.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/CountyCourtJudgementTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/FeatureTogglesTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestApi.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestService.java
Labels: ns:cmc-claim-store-pr-1102

#1148 simplify ai-agent.xml
  lib/AI-Agent.xml
Labels: ns:cmc-claim-store-pr-1148
