Repository hmcts/cmc-claim-store, pull requests merged in 2019-01, with the labels that each got.

#638 ROC-5003/support-controller-to-send-multiple-notifications-to-rpa
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
Labels: ns:cmc-claim-store-pr-638

#643 ROC-5003/support-controller-to-fire-RPA-json
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-643

#644 Bug/roc 5003 support controller to fire rpa json
  codecov.yml
Labels: ns:cmc-claim-store-pr-644

#646 Bug/roc 5003 support controller to fire rpa json
  build.gradle
  codecov.yml
Labels: ns:cmc-claim-store-pr-646

#647 ROC-4782: Minor refactoring and add missing tests
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDClaimantResponse.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseRejection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/TheirDetailsAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/DefendantPartyAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/PaymentIntentionAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/mapper/ClaimantAcceptanceMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/domain/CCDYesNoOptionTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantResponseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/StatementOfTruthCaseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDDefendant.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  codecov.yml
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
Labels: ns:cmc-claim-store-pr-647

#642 ROC- 5006 Link defendant to claim and perform response journey
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDDefendant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DefendantContactDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DefendantRepresentativeMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ResponseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/TheirDetailsAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  codecov.yml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/LinkDefendantToClaimWithWithCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RequestMoreTimeForResponseWithCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsCoreCaseDataTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ResourceLoader.java
  src/test/resources/core-case-data/search-response-with-def-res.success.json
  src/test/resources/core-case-data/search-response-with-def.success.json
  src/test/resources/core-case-data/search-response.success.json
  src/test/resources/core-case-data/start-response.success.json
  src/test/resources/core-case-data/submit-representative-response.success.json
  src/test/resources/core-case-data/submit-response.success.json
Labels: ns:cmc-claim-store-pr-642

#650 Add checkstyle to restrict for more than one line space
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/config/CCDAdapterConfig.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseRejection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/AmountMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentIntentionMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ccj/CountyCourtJudgmentMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/CourtDeterminationMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/DebtAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/CountyCourtJudgmentAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/PartyStatementAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/SettlementAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/StatementOfMeansMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/services/UserService.java
  config/checkstyle/checkstyle.xml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidInterestConstraintValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ReDetermination.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/PriorityDebt.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtilsTest.java
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SamplePayment.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/DefenceResponseJsonMapper.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/DefendantJsonMapper.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/MoreTimeRequestedJsonMapper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/DefenceResponseJsonMapperTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/CountyCourtJudgementTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamInternalApi.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/ClaimStore.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/MakeOfferTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RequestMoreTimeForResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/StatementOfValueProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/RejectSettlementAgreementStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/PersonContent.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/OfferRespondedCitizenActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/OfferServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/TemplateServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/CCJNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/fixtures/SampleUser.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ResourceLoader.java
  src/test/resources/claim-application.json
Labels: ns:cmc-claim-store-pr-650

#637 Feature/roc 4464 claimant response mapping review comments
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDPaymentIntention.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDClaimantResponse.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseRejection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantResponseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/CourtDeterminationMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/CourtDeterminationAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantResponseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CourtDeterminationMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
Labels: ns:cmc-claim-store-pr-637

#648 ROC- 4739: Def comp/org notification
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDeterminationTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/CountyCourtJudgmentByAdmissionPdfTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartAdmissionResponseContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/content/DefendantAdmissionStaffEmailContentProviderTest.java
Labels: ns:cmc-claim-store-pr-648

#652 Refactor and cleanup tests
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/CourtDeterminationMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantResponseMapperTest.java
Labels: ns:cmc-claim-store-pr-652

#606 ROC-4740 Notify party in the Settlement Agreement journey - proposal
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/SignSettlementAgreementActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/SettlementAgreementNotificationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/SignSettlementAgreementActionsHandlerTest.java
Labels: ns:cmc-claim-store-pr-606

#655 Add missing mappings for claimant response
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDDefendant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantResponseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
Labels: ns:cmc-claim-store-pr-655

#653 ROC-4754 Event Creation for CCJ
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/ccj/CCDCountyCourtJudgment.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDDefendant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ccj/CountyCourtJudgmentMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/CountyCourtJudgmentAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ccj/CountyCourtJudgmentMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapperTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
Labels: ns:cmc-claim-store-pr-653

#658 ROC-4964 Defendant response app insight changes
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-658

#641 ROC-4768 Notify party in the Settlement Agreement journey - Acceptance
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/CountersignSettlementAgreementActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/CountersignSettlementAgreementEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/CountersignSettlementAgreementActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-641

#657 ROC-5037: convert aks manifests to helm
  Jenkinsfile_CNP
  README.md
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.template.yaml
  src/kubernetes/.lint.yml
  src/kubernetes/config.aat.yaml
  src/kubernetes/deployment.template.yaml
Labels: ns:cmc-claim-store-pr-657

#667 ROC-4726 Mapping for Settlement Agreement
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/domain/CCDRepaymentPlan.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/domain/offers/CCDPartyStatement.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/domain/offers/CCDSettlement.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/ccj/RepaymentPlanMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/offers/PartyStatementMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/offers/SettlementMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDPartyStatement.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/offers/CCDMadeBy.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/offers/CCDStatementType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/offers/PartyStatementMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/util/MapperUtil.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/CCDPartyStatementAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/PartyStatementAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/PartyStatementAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/RepaymentPlanAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/SettlementAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/ccj/RepaymentPlanMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/offers/SettlementMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/offers/PartyStatementMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDPartyStatement.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDPaymentIntention.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/offers/SamplePartyStatement.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/offers/SampleSettlement.java
Labels: ns:cmc-claim-store-pr-667

#660 ROC-4974 - Redetermination add app insights
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
Labels: ns:cmc-claim-store-pr-660

#669 ROC 4974 add app insights events for defendant response
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-669

#671 Remove app insight for defendant response
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-671

#664 ROC-4654: Add claimant response event in CCD async
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDClaimantResponse.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/BankAccountMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/LivingPartnerMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/StatementOfMeansMapper.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/CCDEventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDInterlocutoryJudgmentEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDRejectOrganisationPaymentPlanEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/OffersService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-664

#659 ROC-4974 Settlement and ccj by admissions app insights
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/offers/SampleOffer.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/response/SamplePaymentIntention.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementServiceTest.java
Labels: ns:cmc-claim-store-pr-659

#670 ROC 4974 app insights events for defendant response
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-670

#654 ROC-5040: update all environments with default values
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sprod.tfvars
Labels: ns:cmc-claim-store-pr-654

#666 bump Helm chart to 0.0.10
  charts/cmc-claim-store/requirements.yaml
Labels: ns:cmc-claim-store-pr-666

#675 ROC-4449 Mapping and creating redetermination
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDDefendant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ReDeterminationMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ReDeterminationMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDDefendant.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/CCDEventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDReDetermination.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-675

#677 ROC-4606: Mapping and creating paid in full event in ccd
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDDefendant.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/CCDEventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDPaidInFullEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-677

#676 ROC-4726: Settlement agreement events creation
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDDefendant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/offers/SettlementMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/offers/SettlementMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDDefendant.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDPartyStatement.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RejectSettlementAgreementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/CCDEventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDSettlementEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/OffersService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/OfferServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementServiceTest.java
Labels: ns:cmc-claim-store-pr-676

#639 ROC-4998: use variable for contact email in pin letter
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProvider.java
  src/main/resources/staff/templates/document/defendantPinLetter.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProviderTest.java
Labels: ns:cmc-claim-store-pr-639

#679 ROC-5082: States Paid Part Admit check and send issue
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimantResponseRule.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimantResponseRuleTest.java
Labels: ns:cmc-claim-store-pr-679

#672 ROC-4963: App insight event for Paid in Full
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
Labels: ns:cmc-claim-store-pr-672

#656 ROC-4990 - Company/Sole Trader details are missing in claim PDF
  src/main/resources/citizen/templates/document/claimIssueReceipt.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/main/resources/staff/templates/document/sealedClaim.html
Labels: ns:cmc-claim-store-pr-656

#688 ROC-5044: Show totalAmount on CCD UI
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
Labels: ns:cmc-claim-store-pr-688

#686 ROC 4974 add app insights events for admissions
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRule.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRuleTest.java
Labels: ns:cmc-claim-store-pr-686

#687 Fix ccd search by defendant id and defendant email
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseAcceptation.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantResponseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseAcceptationAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantResponseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/response/SampleCourtDetermination.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/PaidInFullTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
Labels: ns:cmc-claim-store-pr-687

#689 Sonar qube exclusions
  build.gradle
Labels: ns:cmc-claim-store-pr-689

#673 ROC-5070: Part Admit pdf issue
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/DefendantResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartAdmissionResponseContentProvider.java
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartAdmissionResponseContentProviderTest.java
Labels: ns:cmc-claim-store-pr-673

#694 ROC-5116: Save timestamp for countersign settlement
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementServiceTest.java
Labels: ns:cmc-claim-store-pr-694

#691 ROC-4131-enabled-dm-for-local-and-other-env
  build.gradle
  infrastructure/main.tf
  infrastructure/sprod.tfvars
  src/aat/resources/environment.properties
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/main/resources/application.yml
  src/test/resources/environment.properties
Labels: ns:cmc-claim-store-pr-691

#683 ROC-5104 Proceed with claim creation events when external ID already found in claim store
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/BaseSubmitClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
Labels: ns:cmc-claim-store-pr-683

#681 ROC-5037: add frontend deployment to claim-store
  Jenkinsfile_CNP
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.template.yaml
Labels: ns:cmc-claim-store-pr-681

#699 ROC-4540-added-app-insights-events-and-unit-tests
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsights.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ResourceLoader.java
  src/test/resources/document-management/download.success.json
Labels: ns:cmc-claim-store-pr-699
