Repository hmcts/cmc-claim-store, pull requests merged in 2019-02, with the labels that each got.

#700 Update Dockerfile with latest cnp image
  Dockerfile
Labels: ns:cmc-claim-store-pr-700

#665 ROC-4525: CCD data migration implementation
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/App.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/CoreCaseDataService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/MigrateCoreCaseDataService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/CaseEvent.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimMigrator.java
  ccd-claim-migration/src/main/resources/application.yml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/offers/Settlement.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/offers/SettlementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/bulkprint/BulkPrintPDFContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/settlementagreement/SettlementAgreementPDFContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ns:cmc-claim-store-pr-665

#703 ROC-4131-enable-dm-on-demo-aat
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
Labels: ns:cmc-claim-store-pr-703

#704 ROC-5093: Execute migration on aat
  Jenkinsfile_CNP
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/config/LoggerHandler.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimMigrator.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/stereotypes/LogExecutionTime.java
  ccd-claim-migration/src/main/resources/application.yml
Labels: ns:cmc-claim-store-pr-704

#682 ROC-5068 stop calculating interest once judgment requested
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/amount/TotalAmountCalculator.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/amount/TotalAmountCalculatorTest.java
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_by_set_date.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_fortnightly.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_immediately.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_immediately_nothing_paid.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_monthly.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_weekly.json
Labels: ns:cmc-claim-store-pr-682

#708 ROC-5108-swagger-publish: Adding config for publishing swagger api via Travis
  .travis.yml
Labels: ns:cmc-claim-store-pr-708

#707 ROC-5087: Avoid reloading the claim
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
Labels: ns:cmc-claim-store-pr-707

#702 ROC-5110 Claimant accept states paid less than amount claim, answers not saved in DB
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ClaimantResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
Labels: ns:cmc-claim-store-pr-702

#714 Fix feature toggle api helm chart
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.template.yaml
Labels: ns:cmc-claim-store-pr-714

#713 ROC-5108: Fix for swagger not getting published
  .travis.yml
Labels: ns:cmc-claim-store-pr-713

#718 ROC-5109: add DM Store to AKS
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.template.yaml
Labels: ns:cmc-claim-store-pr-718

#722 ROC-5200 : LIVE BUG - RPA partadmits, states paid fix
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/DefenceResponseJsonMapper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/AdmissionResponseJsonMapperTest.java
  rpa-mapper/src/test/resources/admissions/individual_part_admission_states_paid.json
  rpa-mapper/src/test/resources/admissions/sole_trader_part_admission_states_paid.json
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimantResponseRuleTest.java
Labels: ns:cmc-claim-store-pr-722

#719 ROC-4674: Claimant response states paid settle pre judgement
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDClaimantResponse.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseAcceptation.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseRejection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantResponseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseAcceptationAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseRejectionAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantResponseMapperTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
Labels: ns:cmc-claim-store-pr-719

#721 Remove deprecated code
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/domain/offers/CCDOffer.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/domain/offers/CCDSettlement.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/Mapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/deprecated/mapper/offers/OfferMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/LivingPartnerMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/Assertions.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/deprecated/assertion/OfferAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/TimelineEventMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/EmployerMapperTest.java
Labels: ns:cmc-claim-store-pr-721

#684 ROC-5105: Paid in Full error if claimant settles before linking defendant's email
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/paidinfull/PaidInFullCitizenNotificationHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/paidinfull/PaidInFullCitizenNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/paidinfull/PaidInFullStaffNotificationHandlerTest.java
Labels: ns:cmc-claim-store-pr-684

#725 ROC-4674: Claimant response states paid settle pre judgement
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/ClaimantResponseHelper.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ClaimantResponseHelperTest.java
Labels: ns:cmc-claim-store-pr-725

#726 ROC-5155 Prepare dry run on prod
  Jenkinsfile_CNP
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/CoreCaseDataService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/CaseEvent.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/repositories/ClaimRepository.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimMigrator.java
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:cmc-claim-store-pr-726

#732 Disable dry run for 1000
  Jenkinsfile_CNP
  infrastructure/prod.tfvars
Labels: ns:cmc-claim-store-pr-732

#733 new java image
  Dockerfile
Labels: ns:cmc-claim-store-pr-733

#735 ROC-4540-donot-fail-claim-creation-if-dm-upload-fails
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DocumentUploader.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/exceptions/DocumentManagementException.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
Labels: ns:cmc-claim-store-pr-735

#737 ROC-5155: Add DB migration script to update case event created_date
  ccd-claim-migration/src/main/resources/case_event_created_date_migration.sql
Labels: ns:cmc-claim-store-pr-737

#730 Disable DM Store
  charts/cmc-claim-store/values.aat.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
Labels: ns:cmc-claim-store-pr-730

#741 ROC-5155: Schedule 5000 oldest claims for dry run
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/repositories/ClaimRepository.java
Labels: ns:cmc-claim-store-pr-741

#738 ROC-5214 Mapping settlement data need not check that a new offer can be made
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/offers/SettlementMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/offers/Settlement.java
Labels: ns:cmc-claim-store-pr-738

#744 ROC-5155: Fix Payment created date type change
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimMigrator.java
Labels: ns:cmc-claim-store-pr-744

#746 ROC-5155: Fix long value for Payment created date
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/LocalDateTimeFactory.java
Labels: ns:cmc-claim-store-pr-746

#731 ROC-5179 - Missing Instalment amount and financial details In Defendant Response PDF
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartAdmissionResponseContentProvider.java
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartAdmissionResponseContentProviderTest.java
Labels: ns:cmc-claim-store-pr-731

#753 ROC-5155: Handle Failure counts
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/repositories/ClaimRepository.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimMigrator.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/MigrationHandler.java
Labels: ns:cmc-claim-store-pr-753

#752 ROC-5214 avoid assertions in settlement mapping
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/offers/SettlementMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/offers/Settlement.java
Labels: ns:cmc-claim-store-pr-752

#754 ROC-5251: fix feature-toggle service port
  charts/cmc-claim-store/values.template.yaml
Labels: ns:cmc-claim-store-pr-754

#760 Disable async on demo
  infrastructure/demo.tfvars
Labels: ns:cmc-claim-store-pr-760

#758 Enable DM for AKS on aat
  charts/cmc-claim-store/values.aat.template.yaml
  infrastructure/aat.tfvars
Labels: ns:cmc-claim-store-pr-758

#751 ROC-3796-changing-the-way-dm-url-is-persisted
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocument.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentCollection.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/ClaimStore.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/ClaimIssuedNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DocumentUploader.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/output/PDF.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/AlwaysGenerateDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentsService.java
  src/main/resources/db/migration/claimstore/V2019_02_19_1414__schema_change_for_claim_documents.sql
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
Labels: ns:cmc-claim-store-pr-751

#749 ROC-5222: Part admit to states paid response conversion
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/DefenceResponseJsonMapper.java
  rpa-mapper/src/test/resources/admissions/individual_part_admission_states_paid.json
  rpa-mapper/src/test/resources/admissions/sole_trader_part_admission_states_paid.json
Labels: ns:cmc-claim-store-pr-749

#742 ROC-4300 Accept, save and retrieve payment declarations with amounts
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ResponseMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/PaymentDeclaration.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/PaymentDeclarationTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SamplePaymentDeclaration.java
  src/test/resources/defendant-response-full-defence.json
Labels: ns:cmc-claim-store-pr-742

#747 ROC-5227: Correct judgment spellings in ccd events and fields
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDDefendant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapperTest.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/MigrationHandler.java
  ccd-claim-migration/src/main/resources/case_event_created_date_migration.sql
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-747

#762 ROC-5157: Enable ccd on demo
  infrastructure/demo.tfvars
Labels: ns:cmc-claim-store-pr-762

#764 set up cmc claim store security scan
  Jenkinsfile_nightly
  functional-output/.gitkeep
  security.sh
Labels: ns:cmc-claim-store-pr-764

#766 Fix push to use https git repo
  Jenkinsfile_CNP
Labels: ns:cmc-claim-store-pr-766

#770 ROC-3960-store-claimant-copy-claim-form
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/CaseMetadata.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimIssueReceiptService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/CountyCourtJudgmentPdfService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DefendantResponseReceiptService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/PdfService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/SealedClaimPdfService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/SettlementAgreementCopyService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGeneratorTest.java
Labels: ns:cmc-claim-store-pr-770

#761 ROC-5255 Authorisation check when accessing claims
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimsByClaimantIdTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GetClaimsByDefendantIdTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RequestMoreTimeForResponseWithCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/StaffEmailServiceWithNotificationDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/GetMetadataTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimAuthorisationRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimAuthorisationRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ResourceLoader.java
  src/test/resources/core-case-data/search-response-linked-defendant.success.json
Labels: ns:cmc-claim-store-pr-761

#767 ROC-5283 Remove PII from notification client failure recovery
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/CCJNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/MoreTimeRequestedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ResponseNeededNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/SettlementAgreementNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/BaseNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/CCJNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/MoreTimeRequestedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ResponseNeededNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/SettlementAgreementNotificationServiceTest.java
Labels: ns:cmc-claim-store-pr-767

#712 ROC-5130 T/A not appearing on PIN letters
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProvider.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProviderTest.java
Labels: ns:cmc-claim-store-pr-712

#775 ROC-5324: Resolve search by defendantId
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
Labels: ns:cmc-claim-store-pr-775

#739 [Do not Merge]ROC-5092- Creating CCD Cases only if payment is successful
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimAsynchronouslyAtCCDTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithCoreCaseDataStoreTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/CCDEventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDPrePaymentEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-739

#773 ROC-3958-Store-defendant-response-documents-in-DM
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/StaffEmailServiceWithNotificationDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/DefenceResponseNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DocumentUploader.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/DefendantResponseCitizenNotificationsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/DefendantResponseEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/DefendantResponseStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/EventProducerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/response/DefendantResponseCitizenNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-773
