Repository hmcts/cmc-claim-store, pull requests merged in 2019-06, with the labels that each got.

#985 Enable functional tests
  build.gradle
Labels: ns:cmc-claim-store-pr-985

#973 ROC-5698 Use the full claim amount in CCJ having rejected part-admit
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/countycourtjudgment/AmountContentProvider.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/countycourtjudgment/AmountContentProviderTest.java
Labels: ns:cmc-claim-store-pr-973

#960 ROC-5713 Allow zero value for an income
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/Income.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/IncomeTest.java
Labels: ns:cmc-claim-store-pr-960

#893 ROC-5471 Generate draft order
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDHearingDurationType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderGenerationData.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/config/JacksonConfiguration.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/config/JacksonConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/MockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateOrderCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/MoreTimeRequestedCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/advices/ResourceExceptionHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/exceptions/CallbackException.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CallbackService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/Callback.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/CallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/CallbackParams.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/CallbackType.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/CallbackTypeTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
Labels: ns:cmc-claim-store-pr-893

#926 ROC-5489 Draw order and copy doc in case documents
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DrawOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-926

#990 Fix interest end date issue
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/CreateCCDCaseService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/MigrateCoreCaseDataService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/SearchCCDCaseService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/UpdateCCDCaseService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/repositories/ClaimRepository.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimMigrator.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/DataFixHandler.java
  ccd-claim-migration/src/main/resources/application.yml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-990

#994 [WIP] Add data patch based on event
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-claim-migration/build.gradle
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/App.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/SearchCCDCaseService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/SearchCCDEventsService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/client/CaseEventDetails.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/client/CaseEventsApi.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/client/CoreCaseDataConfiguration.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/client/SignificantItem.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/JsonMapper.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimMigrator.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/DataFixHandler.java
Labels: ns:cmc-claim-store-pr-994

#997 Fix functional tests in async mode
  charts/cmc-claim-store/values.preview.template.yaml
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/ClaimOperation.java
Labels: ns:cmc-claim-store-pr-997

#1002 Handle Null interest type in claim interest
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/InterestMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/InterestMapperTest.java
Labels: ns:cmc-claim-store-pr-1002

#993 ROC-5491 Notify parties when legal order is drawn
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/CollectionId.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/EmailUtils.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/EmailUtilsTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DrawOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/paidinfull/PaidInFullCitizenNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/legaladvisor/OrderDrawnNotificationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/legaladvisor/OrderDrawnNotificationServiceTest.java
Labels: ns:cmc-claim-store-pr-993

#979 ROC-5752 Include more useful information about claims in the metadata results
  charts/cmc-claim-store/values.preview.template.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/CaseMetadata.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/ClaimantResponseMetadata.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/CountyCourtJudgmentMetadata.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/DefendantResponseMetadata.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/PaymentPlanMetadata.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/RedeterminationMetadata.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/SettlementMetadata.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/StatesPaidMetadata.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/ClaimOperation.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/GetMetadataTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/CaseMetadataController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
Labels: ns:cmc-claim-store-pr-979

#1010 Bump CCD chart in preparation for HMCTS Demo deployment
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1010

#1008 ROC-5801: Fix inconsistent validation
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/CourtOrder.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/Expense.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/PriorityDebt.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/statementofmeans/ExpenseTest.java
Labels: ns:cmc-claim-store-pr-1008

#1014 ROC-5863 Ignore free-text settlement data
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/PartyStatementMetadata.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/SettlementMetadata.java
Labels: ns:cmc-claim-store-pr-1014

#976 ROC-5854: Refactor and code cleanup to remove duplicate
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/LinkDefendantToClaimWithWithCoreCaseDataTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CCDStoreConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverter.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverterTest.java
Labels: ns:cmc-claim-store-pr-976

#1018 ROC-5849: Use binary link from document
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentCollectionMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocument.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
Labels: ns:cmc-claim-store-pr-1018

#1001 ROC-5812 Update CreatedAt to use Local Time Zone
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
Labels: ns:cmc-claim-store-pr-1001

#1023 CCD release 1.2.8
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1023
