Repository hmcts/cmc-claim-store, pull requests merged in 2019-03, with the labels that each got.

#769 ROC-5284 cleanup corruption of claimstore domain with ccd domain
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDCourtDetermination.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDDecisionType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDAgeGroupType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDBankAccount.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDBankAccountType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDChildCategory.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDDisabilityStatus.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDExpense.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDExpenseType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDIncome.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDIncomeType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDLivingPartner.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDPaymentFrequency.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDPriorityDebt.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDPriorityDebtType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDResidenceType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/statementofmeans/CCDStatementOfMeans.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/CourtDeterminationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/BankAccountMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/ChildCategoryMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/ExpenseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/IncomeMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/LivingPartnerMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/PriorityDebtMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/StatementOfMeansMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/CourtDeterminationAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/BankAccountAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/ChildAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/ExpenseAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/IncomeAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/PriorityDebtAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/StatementOfMeansAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/BankAccountMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/ChildCategoryMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/ExpenseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/IncomeMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/LivingPartnerMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/statementofmeans/PriorityDebtMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
Labels: ns:cmc-claim-store-pr-769

#748 Add liveness endpoint
  build.gradle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
Labels: ns:cmc-claim-store-pr-748

#783 Fix env vars from jenkinsfile
  charts/cmc-claim-store/values.template.yaml
Labels: ns:cmc-claim-store-pr-783

#782 reduce postgres cpu request
  charts/cmc-claim-store/values.template.yaml
Labels: ns:cmc-claim-store-pr-782

#685 ROC-5059: Mediation Phone Number
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/FullAdmissionResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/FullDefenceResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/PartAdmissionResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/Response.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejectionTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/response/ResponseTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/test/resources/defendant-response-full-defence.json
Labels: ns:cmc-claim-store-pr-685

#715 BUG/ROC-5008: Update defendant response email
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtils.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtilsTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationServiceTest.java
Labels: ns:cmc-claim-store-pr-715

#743 ROC 5194 notify email for defendant on claimant response rejection of states paid or part admission
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
Labels: ns:cmc-claim-store-pr-743

#787 Update afterCheckout statement in jenkinsfile
  Jenkinsfile_CNP
Labels: ns:cmc-claim-store-pr-787

#784 ROC-3959-3964-store-ccj-settlement-documents-in-dm
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveDefendantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveSettlementAgreementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/StaffEmailServiceWithNotificationDisabledTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/DocumentsController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DocumentUploader.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJCitizenActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCountersignedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCountersignedStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/CountersignSettlementAgreementEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/OffersService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/SettlementAgreementService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/AlwaysGenerateDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCounterSignedCitizenActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/CountersignSettlementAgreementActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/OfferServiceTest.java
Labels: ns:cmc-claim-store-pr-784

#790 feature/fixed-tests-failing-on-jenkins
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
Labels: ns:cmc-claim-store-pr-790

#771 ROC-4592 Add PaidInFull RPA
  charts/cmc-claim-store/values.template.yaml
  infrastructure/main.tf
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/PaidInFullJsonMapper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/PaidInFullJsonMapperTest.java
  src/aat/resources/environment.properties
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/PaidInFullNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/config/EmailProperties.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/PaidInFullNotificationServiceTest.java
  src/test/resources/environment.properties
Labels: ns:cmc-claim-store-pr-771

#788 ROC-5313: Add flag for migrated claims
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-claim-migration/src/main/resources/application.yml
Labels: ns:cmc-claim-store-pr-788, tested locally

#779 ROC:5305 - comp/org repayment plan rejection email to staff
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationServiceTest.java
  src/main/resources/staff/templates/email/claimantRejectOrganisationRepaymentPlan/body.txt
  src/main/resources/staff/templates/email/claimantRejectOrganisationRepaymentPlan/subject.txt
Labels: ns:cmc-claim-store-pr-779

#763 ROC 5230 sole trader statement of truth undo position changes
  src/main/resources/citizen/templates/document/claimIssueReceipt.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/main/resources/staff/templates/document/sealedClaim.html
Labels: ns:cmc-claim-store-pr-763

#794 Add config for probot-stale
  .github/stale.yml
Labels: ns:cmc-claim-store-pr-794

#785 Change aseName to not use remote state
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:cmc-claim-store-pr-785

#796 add feature toggle for DQs FF4J
  charts/cmc-claim-store/values.template.yaml
Labels: ns:cmc-claim-store-pr-796

#799 ROC-5019 code refactoring
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateSettlementAgreementCopyTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/AlwaysGenerateDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-799

#802 ROC-5406: Improve instrumentation for ccd case creation
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/UserService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-802

#791 Preparing for new AKS AAT environment
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.template.yaml
  hub.Dockerfile
  infrastructure/main.tf
  infrastructure/output.tf
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsights.java
  src/main/resources/bootstrap.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/BaseNotificationServiceTest.java
Labels: ns:cmc-claim-store-pr-791

#806 ROC-5406: Improve instrumentation and refactor
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/MigrateCoreCaseDataService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/config/LoggerHandler.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/stereotypes/LogExecutionTime.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CCDStoreConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/LoggerHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/UserService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CCDCreateCaseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/stereotypes/LogExecutionTime.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-806

#807 Update CCD client version
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/MoreTimeRequestedCallbackTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
Labels: ns:cmc-claim-store-pr-807

#808 Fix helm tags
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.template.yaml
Labels: ns:cmc-claim-store-pr-808

#804 ROC-5019 support controller for DM
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
Labels: ns:cmc-claim-store-pr-804

#815 Add db-passwords to secrets and aliases for new aat aks env
  src/main/resources/bootstrap.yml
Labels: ns:cmc-claim-store-pr-815

#816 ROC-5430 Add claimant responded at date to metadata results
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/CaseMetadata.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
Labels: ns:cmc-claim-store-pr-816

#777 ROC 5249 Staff notification email for claimant rejection of part admit
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtils.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtilsTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectionStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectionStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimantRejectPartAdmissionContentProvider.java
  src/main/resources/staff/templates/email/claimantResponse/rejection/partAdmission/body.txt
  src/main/resources/staff/templates/email/claimantResponse/rejection/partAdmission/subject.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimantRejectPartAdmissionContentProviderTest.java
Labels: ns:cmc-claim-store-pr-777

#818 SIDAM code freeze - changes for AAT
  Jenkinsfile_CNP
  charts/cmc-claim-store/values.template.yaml
  infrastructure/aat.tfvars
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestService.java
Labels: ns:cmc-claim-store-pr-818

#822 ROC-5444 Send email notification and PDF to staff for rejection of organisation/company repayment plan by Claimant
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationServiceTest.java
  src/main/resources/staff/templates/email/claimantRejectOrganisationRepaymentPlan/body.txt
Labels: ns:cmc-claim-store-pr-822

#823 ROC-5446: Add performance logs for save claim
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/SealedClaimPdfService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/CitizenClaimIssuedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimIssuedCitizenActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimIssuedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/solicitor/RepresentativeConfirmationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
Labels: ns:cmc-claim-store-pr-823

#776 ROC-5233 Adding party type
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDAddress.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDApplicant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDParty.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDTelephone.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseRejection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CompanyDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CompanyMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ContactDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DefendantContactDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DefendantRepresentativeMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/OrganisationDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/OrganisationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/RepresentativeMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/TelephoneMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/TheirDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantResponseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ReDeterminationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ResponseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/offers/SettlementMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimantAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/TheirDetailsAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseRejectionAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/DefendantPartyAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/ResponseAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/TheirDetailsMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ReDeterminationMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ResponseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/offers/SettlementMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDDefendant.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  ccd-claim-migration/src/main/resources/case_event_created_date_migration.sql
  src/test/resources/core-case-data/search-response-CCJ.success.json
  src/test/resources/core-case-data/search-response-linked-defendant.success.json
  src/test/resources/core-case-data/search-response-with-def-res.success.json
  src/test/resources/core-case-data/search-response-with-def.success.json
  src/test/resources/core-case-data/search-response-with-offer-counter-signed.success.json
  src/test/resources/core-case-data/search-response.success.json
  src/test/resources/core-case-data/start-response.success.json
  src/test/resources/core-case-data/submit-event.success.json
  src/test/resources/core-case-data/submit-representative-response.success.json
  src/test/resources/core-case-data/submit-response.success.json
Labels: ns:cmc-claim-store-pr-776

#820 ROC-5416: Optimise idam calls during save claim
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseGetTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseOfferTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RequestMoreTimeForResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveSettlementAgreementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/StaffEmailServiceWithNotificationDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/base/BaseDownloadDocumentTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/errors/EndpointErrorsTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CCDStoreConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/CaseMetadataController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/CCDEventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDClaimIssuedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimAuthorisationRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-820

#819 ROC-4999: Respond to settlement agreement content
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/Formatting.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/FullAdmissionResponseContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartAdmissionResponseContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/ResponseAcceptationContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimDataContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/InterestContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/countycourtjudgment/AmountContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/FormattingTest.java
Labels: ns:cmc-claim-store-pr-819

#827 ROC-5416: Refactor out is represented
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/UserRole.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/idam/models/User.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/idam/models/UserDetailsTest.java
Labels: ns:cmc-claim-store-pr-827

#832 ROC-5358 Replace "submitted" with "received" in claim, sealed-claim and response PDFs
  src/main/resources/citizen/templates/document/claimIssueReceipt.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/main/resources/staff/templates/document/sealedClaim.html
Labels: ns:cmc-claim-store-pr-832

#833 Add citizen roles for DM uploads and read
  build.gradle
  charts/cmc-claim-store/values.template.yaml
  infrastructure/main.tf
  src/aat/resources/environment.properties
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveDefendantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveSettlementAgreementTest.java
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
  src/test/resources/environment.properties
Labels: ns:cmc-claim-store-pr-833

#829 ROC-5160 Split Full Name into title, first, last name for Individual and Sole Traders (their details)
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualDetailsMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/SplitName.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/SplitNameConstraintValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/CompanyDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/IndividualDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/OrganisationDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/SoleTraderDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/TheirDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/SplitNamedParty.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/PartyUtils.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/ClaimDataTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/CompanyDetailsTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/OrganisationDetailsTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/SoleTraderDetailsTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/TheirDetailsTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/otherparty/IndividualDetailsTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/otherparty/SoleTraderDetailsTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/PartyUtilsTest.java
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleTheirDetails.java
  rpa-mapper/src/test/resources/claim/individual_rpa_case.json
  rpa-mapper/src/test/resources/claim/sole_trader_rpa_case.json
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseSaveTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/LinkDefendantToClaimWithWithCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/content/DefendantAdmissionStaffEmailContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/content/FullDefenceStaffEmailContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProviderTest.java
  src/test/resources/claim-application.json
  src/test/resources/legal-claim-application.json
Labels: ns:cmc-claim-store-pr-829
