Repository hmcts/cmc-claim-store, pull requests merged in 2019-04, with the labels that each got.

#840 Bump citizen-frontend helm chart version
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.template.yaml
Labels: ns:cmc-claim-store-pr-840

#836 ROC-5357 Map interest till date of issue to CCD
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/amount/TotalAmountCalculator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/MonetaryConversions.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/amount/TotalAmountCalculatorTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/MonetaryConversionsTest.java
Labels: ns:cmc-claim-store-pr-836, pinned

#862 Extract event handler from processing
  charts/cmc-claim-store/requirements.yaml
  dependency-check-suppressions.xml
  email-client/src/main/java/uk/gov/hmcts/cmc/email/EmailData.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/ClaimIssuedNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/RpaNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/RpaNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationServiceTest.java
Labels: ns:cmc-claim-store-pr-862

#842 ROC-5457 Calculate claimant response deadline and DQ deadline
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/ClaimStore.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/errors/EndpointErrorsTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireDeadlineCalculator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ResponseDeadlineCalculator.java
  src/main/resources/application.yml
  src/main/resources/db/migration/claimstore/V2019_04_01_1323__Add_claimant_response_deadline.sql
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireDeadlineCalculatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ResponseDeadlineCalculatorTest.java
Labels: ns:cmc-claim-store-pr-842

#841 Point to SIDAM (demo/saat/sprod)
  infrastructure/demo.tfvars
  infrastructure/saat.tfvars
  infrastructure/sprod.tfvars
Labels: ns:cmc-claim-store-pr-841

#851 ROC-5465: Add new claim field to capture the state
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  charts/cmc-claim-store/values.template.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  infrastructure/main.tf
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/ClaimStore.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/resources/application.yml
  src/main/resources/db/migration/claimstore/V2019_04_01_1130__add_state_for_claim.sql
Labels: ns:cmc-claim-store-pr-851, pinned

#859 ROC-5533 Allow null payment objects for case metadata
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/CaseMetadata.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationEmailContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
Labels: ns:cmc-claim-store-pr-859

#854 ROC-3022: Regenerate pin on support request
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimAsynchronouslyAtCCDTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsCoreCaseDataTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CCDCreateCaseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-854

#869 Re-enable git command to push to DEMO
  Jenkinsfile_CNP
Labels: ns:cmc-claim-store-pr-869

#868 ROC-5551: Save PDF file size in Claim store DB
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocument.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
Labels: ns:cmc-claim-store-pr-868

#817 ROC-5309: Store case name in ccd
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/util/MapperUtil.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/MapperUtilTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
Labels: ns:cmc-claim-store-pr-817, pinned

#835 [DO NOT MERGE YET] ROC-5376 Add retry and recover for dm calls
  charts/cmc-claim-store/values.template.yaml
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  infrastructure/main.tf
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/BaseSubmitClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SubmitClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/solicitor/SolicitorSubmitClaimTest.java
  src/aat/resources/environment.properties
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/ClaimStore.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveDefendantResponseTest.java
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/DocumentManagementConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/AlwaysGenerateDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
  src/test/resources/environment.properties
Labels: ns:cmc-claim-store-pr-835

#861 Enable ccd async on prod
  infrastructure/prod.tfvars
Labels: ns:cmc-claim-store-pr-861

#873 ROC-5376: Add retry and recover for dm calls
  charts/cmc-claim-store/values.template.yaml
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  infrastructure/main.tf
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/BaseSubmitClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SubmitClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/solicitor/SolicitorSubmitClaimTest.java
  src/aat/resources/environment.properties
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/ClaimStore.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveDefendantResponseTest.java
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/DocumentManagementConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/AlwaysGenerateDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
  src/test/resources/environment.properties
Labels: ns:cmc-claim-store-pr-873

#874 ROC-5522: turn dm on in prod
  infrastructure/prod.tfvars
Labels: ns:cmc-claim-store-pr-874

#772 ROC-4975 Exclude non-working days from deadline calculations
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/aat/resources/data/non-working_days.dat
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/ClaimStore.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/errors/EndpointErrorsTest.java
  src/integrationTest/resources/data/non-working_days.dat
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/ClaimRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireDeadlineCalculator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ResponseDeadlineCalculator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/WorkingDayIndicator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/bankholidays/NonWorkingDaysCollection.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/ResourceReader.java
  src/main/resources/application.yml
  src/main/resources/data/non-working_days.dat
  src/main/resources/db/migration/claimstore/V2019_04_01_1323__Add_claimant_response_deadline.sql
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireDeadlineCalculatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/OfferResponseDeadlineCalculatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ResponseDeadlineCalculatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/WorkingDayIndicatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/bankholidays/NonWorkingDaysCollectionTest.java
  src/test/resources/environment.properties
  src/test/resources/non-working-days/nwd-empty-file.dat
  src/test/resources/non-working-days/nwd-invalid.dat
  src/test/resources/non-working-days/nwd-valid-excludes-2019-01-03.dat
  src/test/resources/non-working-days/nwd-valid-includes-2019-02-02.dat
Labels: ns:cmc-claim-store-pr-772, pinned

#759 ROC-5253 Add MoneyReceivedOn to CaseMetadata
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/CaseMetadata.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
Labels: ns:cmc-claim-store-pr-759

#834 ROC-4340: Settlement PDF content change
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ns:cmc-claim-store-pr-834

#849 Use IDAM PR Helm chart for whitelisting urls
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.template.yaml
Labels: ns:cmc-claim-store-pr-849, pinned

#880 ROC-5583: Add dummy implementation for send letter
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DummyBulkPrintRequestTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DummyBulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/PrintService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/DummyBulkPrintServiceTest.java
Labels: ns:cmc-claim-store-pr-880

#853 ROC-5418: Helm config changes
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:cmc-claim-store-pr-853, pinned

#882 Cleanup redundant amount type in CCD domain
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDNotKnown.java
Labels: ns:cmc-claim-store-pr-882

#856 ROC-5477 Prepopulate fields for GenerateOrder callback
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderDirectionType.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateOrderCallbackTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/MoreTimeRequestedCallbackTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CallbackService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/LegalOrderGenerationDeadlinesCalculator.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CallbackServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/LegalOrderGenerationDeadlinesCalculatorTest.java
Labels: ns:cmc-claim-store-pr-856

#789 Feature/roc 4878 store document url on ccd
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocument.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentCollectionMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/TheirDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ReDeterminationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ResponseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ReDeterminationMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ResponseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleCCDDefendant.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocument.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/evidence/EvidenceType.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/BaseSubmitClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/CountyCourtJudgementTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SettlementOfferTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/CCDEventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDCaseHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccd/CCDReDeterminationEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/CitizenClaimIssuedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
  src/test/resources/defendant-response-full-admission.json
Labels: ns:cmc-claim-store-pr-789

#876 ROC-4919: Redetermination email character encoding issue
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationServiceTest.java
  src/main/resources/staff/templates/email/redeterminationRequest/body.txt
Labels: ns:cmc-claim-store-pr-876

#885 ROC-5588: Customise ccd migration to run a subset
  ccd-claim-migration/build.gradle
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/repositories/ClaimRepository.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimMigrator.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/MigrationHandler.java
  ccd-claim-migration/src/main/resources/application.yml
Labels: ns:cmc-claim-store-pr-885

#890 CVE-2019-0232: Upgrade spring boot version and pin tomcat version
  build.gradle
Labels: ns:cmc-claim-store-pr-890

#881 ROC-5471 Add scaffolding to generate a document using the doc-assembly-client
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDDirectionPartyType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDHearingCourtType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDHearingDurationType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderDirection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderDirectionType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderGenerationData.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/SampleData.java
  charts/cmc-claim-store/values.preview.template.yaml
  codecov.yml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/aat/resources/environment.properties
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/GenerateOrderCallbackTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/Judicial.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/OtherDirection.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/Party.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/TemplateConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/resources/doc-assembly-template.json
  src/test/resources/environment.properties
Labels: ns:cmc-claim-store-pr-881

#837 ROC-5327: Raise appinsights for every notification failures
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/SearchCCDCaseService.java
  email-client/build.gradle
  email-client/src/main/java/uk/gov/hmcts/cmc/email/AppInsightsService.java
  email-client/src/main/java/uk/gov/hmcts/cmc/email/EmailConfiguration.java
  email-client/src/main/java/uk/gov/hmcts/cmc/email/EmailService.java
  email-client/src/main/resources/META-INF/spring.factories
  email-client/src/test/java/uk/gov/hmcts/cmc/email/EmailServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/MockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/MakeOfferTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RequestMoreTimeForResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveDefendantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveSettlementAgreementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceWithEmailServiceRetryTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/SignSettlementAgreementActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/CCJNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/MoreTimeRequestedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ResponseNeededNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/SettlementAgreementNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/CountersignSettlementAgreementActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/SignSettlementAgreementActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/BaseNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/CCJNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/MoreTimeRequestedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/SettlementAgreementNotificationServiceTest.java
Labels: ns:cmc-claim-store-pr-837, pinned

#888 ROC-5576 Letter holder not able to access document
  charts/cmc-claim-store/values.yaml
  infrastructure/main.tf
  src/aat/resources/environment.properties
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/DocumentManagementConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
  src/test/resources/environment.properties
Labels: ns:cmc-claim-store-pr-888

#698 ROC-5037: add ccd chart
  Jenkinsfile_CNP
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  src/main/resources/bootstrap.yml
Labels: ns:cmc-claim-store-pr-698
