Repository hmcts/cmc-claim-store, pull requests merged in 2019-11, with the labels that each got.

#1245 ROC-6102: Render dates in local timezone
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/LocalDateTimeFactory.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/Formatting.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/FormattingTest.java
Labels: ns:cmc-claim-store-pr-1245

#1277 ROC-6804: Bubble up conflict exception received from CCD
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
Labels: ns:cmc-claim-store-pr-1277

#1272 Release definition 1.4.7
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1272

#1279 Add proceeds In Case man new state
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
Labels: ns:cmc-claim-store-pr-1279

#1280 Up the domain version to 1.4.9 and add role for creating Idam user
  charts/cmc-claim-store/values.preview.template.yaml
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/CreateUserRequest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestService.java
Labels: ns:cmc-claim-store-pr-1280

#1283 ROC-6839 Add intention to proceed deadline to case metadata
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/CaseMetadata.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
Labels: ns:cmc-claim-store-pr-1283

#1243 Roc 6641 trigger intention to proceed failure emails
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/IntentionToProceedContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedService.java
  src/main/resources/staff/templates/email/intentionToProceed/body.txt
  src/main/resources/staff/templates/email/intentionToProceed/subject.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/IntentionToProceedContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1243

#1236 ROC-6616: Stay claims after intention to proceed deadline passed
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  charts/cmc-claim-store/values.yaml
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/ToStringStyleTest.java
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/IntentionToProceedContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseSearchApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedDeadlineCalculator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/WorkingDayIndicator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/resources/application.yml
  src/main/resources/staff/templates/email/intentionToProceed/body.txt
  src/main/resources/staff/templates/email/intentionToProceed/subject.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepositoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/SampleQueryConstants.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedDeadlineCalculatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/WorkingDayIndicatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/IntentionToProceedContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1236

#1270 ROC-6741: Update event names
  ccd-claim-migration/src/main/resources/case_event_created_date_migration.sql
Labels: ns:cmc-claim-store-pr-1270

#1268 ROC 6605 automatically lift stay for full and part admissions
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ns:cmc-claim-store-pr-1268

#1194 ROC-6393: Link defendant to claim test support endpoint
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/LinkDefendantToClaimViaAuthenticationTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/IntegrationTestSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/support/CCDTestingSupportRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/support/DBTestingSupportRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/support/SupportRepository.java
Labels: ns:cmc-claim-store-pr-1194

#1285 Remove unnecessary dependencies
  email-client/build.gradle
Labels: ns:cmc-claim-store-pr-1285

#1281 ROC-6821: Make payment optional set in callback
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/amount/TotalAmountCalculator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/metadata/CaseMetadata.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/ClaimDataTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SamplePayment.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/RequestForJudgementJsonMapper.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/SealedClaimJsonMapper.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimDataContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/LegalSealedClaimContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/InitiatePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/countycourtjudgment/AmountContentProvider.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/CaseMetadataControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/InitiatePaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1281

#1288 Fix finish payment controller url
  src/main/resources/application.yml
Labels: ns:cmc-claim-store-pr-1288

#1289 ROC-6845: Remove async feature flag
  charts/cmc-claim-store/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseSaveTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/MockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/PostClaimOperation.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/BulkPrintRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DownloadRepresentedClaimCopyWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/MakeOfferTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveClaimWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveCountyCourtJudgementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveDefendantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SaveSettlementAgreementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/AsyncConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/NotificationsConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimCreationEventsStatusService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/NotifyStaffOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/RpaOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/UploadOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/CountersignSettlementAgreementActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/CCJNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
Labels: ns:cmc-claim-store-pr-1289

#1264 ROC-6120: CCD callback to create citizen claim
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateCitizenClaimCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1264

#1292 ROC-6916 Remove assumption of a single applicant when reissuing an LR claim
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
Labels: ns:cmc-claim-store-pr-1292

#1267 ROC-6719 mapping mediation status
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/util/MapperUtil.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/MapperUtilTest.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleCCDDefendant.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/MediationOutcome.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleDirectionsQuestionnaire.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleHearingLocation.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/ResponseHelper.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1267

#1290 Release definition 1.5.0
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1290

#1286 ROC-6789 Add date to statement of truth
  .gitignore
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimDataContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/ClaimContent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/ClaimantContent.java
  src/main/resources/citizen/templates/document/claimIssueReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/DefendantResponseContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimDataContentProviderTest.java
Labels: ns:cmc-claim-store-pr-1286

#1282 ROC-6549 Refactor custom assertions
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDApplicant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDPartyStatement.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DefendantContactDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderDetailsMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/AddressAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/CCDAddressAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/CCDPartyStatementAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ClaimantAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/CountyCourtJudgmentAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/CustomAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionOrderAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionsQuestionnaireAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/EvidenceRowAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ExpertReportAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/MoneyAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/PartyStatementAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/ReviewOrderAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/TheirDetailsAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/TimelineEventAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/CourtDeterminationAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseAcceptationAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseRejectionAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/DefendantPartyAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/PaymentIntentionAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/ResponseAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/BankAccountAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/ChildAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/CourtOrderAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/DebtAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/EmployerAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/ExpenseAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/IncomeAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/LivingPartnerAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/PriorityDebtAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/defendant/statementofmeans/StatementOfMeansAssert.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantResponseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ccj/CountyCourtJudgmentMapperTest.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleCCDPaymentIntention.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
Labels: ns:cmc-claim-store-pr-1282

#1275 ROC-6783 change state to stayed after claimant accepts full defence
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtils.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtilsTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
Labels: ns:cmc-claim-store-pr-1275

#1293 Feature/roc 6872 replace spring sceduler with quartz
  charts/cmc-claim-store/values.yaml
  infrastructure/variables.tf
  job-scheduler/build.gradle
  job-scheduler/src/main/java/uk/gov/hmcts/cmc/scheduler/config/CronJobConfiguration.java
  job-scheduler/src/main/java/uk/gov/hmcts/cmc/scheduler/model/CronJob.java
  job-scheduler/src/main/java/uk/gov/hmcts/cmc/scheduler/services/JobService.java
  job-scheduler/src/test/java/uk/gov/hmcts/cmc/scheduler/services/CronJobConfigurationTest.java
  job-scheduler/src/test/java/uk/gov/hmcts/cmc/scheduler/services/JobServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/IntentionToProceedJob.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/IntentionToProceedJobTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedServiceTest.java
Labels: ns:cmc-claim-store-pr-1293

#1301 ROC-6393: Move params out of url as IIS cannot handle + sign
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/LinkDefendantToClaimViaAuthenticationTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/IntegrationTestSupportController.java
Labels: ns:cmc-claim-store-pr-1301

#1302 ROC-6872 Add logging to scheduled job
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/IntentionToProceedService.java
Labels: ns:cmc-claim-store-pr-1302

#1303 enable ccd-def url
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1303

#1309 Refactor/fix claim stayed schedule
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sprod.tfvars
Labels: ns:cmc-claim-store-pr-1309

#1297 ROC-6926: Add mediation opt in app insights
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/FeaturesUtils.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtils.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1297

#1218 Let defendant request more time after 14 days but before 33 day deadline
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RequestMoreTimeForResponseTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/MoreTimeRequestRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/MoreTimeRequestRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1218

#1306 ROC-6959: Temporary fix to handle 422 business exception
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-1306

#1311 Up the domain version to 1.5.1
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1311

#1314 ROC-6975: Update claim data in resume and create call
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
Labels: ns:cmc-claim-store-pr-1314

#1313 ROC-6620: Add fees and pay urls
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/prod.tfvars
Labels: ns:cmc-claim-store-pr-1313

#1315 Reduce multiple calls to idam during the same request
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/DBCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:cmc-claim-store-pr-1315

#1298 ROC-6769 Notification for successful mediation
  email-client/bin/main/META-INF/spring.factories
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessfulCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessfulCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1298

#1312 Add non mediation pilot opt in app insights
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessfulCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessfulCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1312

#1319 update chart
  charts/cmc-claim-store/Chart.yaml
Labels: ns:cmc-claim-store-pr-1319

#1321 Up the domain version to 1.5.2
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:cmc-claim-store-pr-1321

#1326 update chart dependencies
  charts/cmc-claim-store/requirements.yaml
Labels: ns:cmc-claim-store-pr-1326
