Repository hmcts/cmc-claim-store, pull requests merged in 2020-07, with the labels that each got.

#1769 Feature/roc 8038 bulk print transfer job
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.yaml
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/BulkPrintTransferJob.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseSearchApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/BulkPrintTransferService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCasePostProcessor.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/BulkPrintTransferJobTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepositoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/SampleQueryConstants.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/BulkPrintTransferServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCasePostProcessorTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1769

#1778 Feature/ccd release 163
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1778

#1743 ROC-8026: Inform defendant by letter that claimant was selected to use new features
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProvider.java
  src/main/resources/staff/templates/document/defendantPinLetter.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1743

#1793 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1793

#1796 Roc 8111 update postal address
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderCoverSheetContentProvider.java
  src/main/resources/staff/templates/document/defendantPinLetter.html
  src/main/resources/staff/templates/document/legalOrderCoverSheet.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderCoverSheetContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1796

#1800 RDM-9032 bumping ccd version in preview file
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1800

#1799 Feature/roc 7953 handle previous button failure
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/caseworker/ContactDetailsChangeCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsPostProcessor.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverter.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsPostProcessorTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1799

#1784 Demo 10 july
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentCollection.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentCollectionTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/ClaimTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/DocumentsController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ScannedDocumentsController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/filters/DocumentsFilter.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/BulkPrintTransferService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/NoticeOfTransferLetterTemplateMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/NoticeOfTransferLetterType.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseDocumentPublishService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseNotificationsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCasePostProcessor.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseToCcbcCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/DocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/ScannedDocumentsControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/filters/DocumentsFilterTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/BulkPrintTransferServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/NoticeOfTransferLetterTemplateMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseDocumentPublishServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseNotificationsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCasePostProcessorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseToCcbcCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtilsTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1784

#1802 RDM-9019 bumping ccd version to 1.6.6
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1802

#1787 Roc 8067 pcq aks issue
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDApplicant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CompanyMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/OrganisationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Company.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Individual.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Organisation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Party.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/SoleTrader.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/PartyUtilsTest.java
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleParty.java
  src/test/resources/claim-application.json
  src/test/resources/defendant-response-full-admission.json
  src/test/resources/defendant-response-full-defence.json
  src/test/resources/legal-claim-application.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1787

#1805 Feature/roc 7985 add bulk print details to case details
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDBulkPrintDetails.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDPrintRequestType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/BulkPrintDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/bulkprint/BulkPrintDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/bulkprint/PrintRequestType.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/aat/resources/environment.properties
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/caseworker/ContactDetailsChangeCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/BulkPrintStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/orders/BulkPrintSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintRequestType.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DummyBulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/PrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/BulkPrintTransferEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/DocumentReadyToPrintEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/GeneralLetterReadyToPrintEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/legaladvisor/DirectionsOrderReadyToPrintEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseDocumentPublishService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseLetterSender.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderPostProcessor.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/DummyBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/EventProducerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseAdmissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseDocumentPublishServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseLetterSenderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderServiceTest.java
  src/test/resources/core-case-data/submit-response.success.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1805

#1804 Roc 7889 show contact details
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CompanyDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/OrganisationDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderDetailsMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/TheirDetailsMapperTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1804

#1806 Revert "Roc 8067 pcq aks issue"
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDApplicant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CompanyMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/OrganisationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Company.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Individual.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Organisation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Party.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/SoleTrader.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/PartyUtilsTest.java
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleParty.java
  src/test/resources/claim-application.json
  src/test/resources/defendant-response-full-admission.json
  src/test/resources/defendant-response-full-defence.json
  src/test/resources/legal-claim-application.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1806

#1807 Roc 8067 pcq aks issue
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDApplicant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CompanyMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/OrganisationMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantPartyMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Company.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Individual.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Organisation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/Party.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/party/SoleTrader.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/PartyUtilsTest.java
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleParty.java
  src/test/resources/claim-application.json
  src/test/resources/defendant-response-full-admission.json
  src/test/resources/defendant-response-full-defence.json
  src/test/resources/legal-claim-application.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1807

#1808 Roc 8067 pcq issue
  charts/cmc-claim-store/values.preview.template.yaml
  src/test/resources/jackson-serialization-samples/claimant-response.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1808

#1809 ROC-8067 pcqId issue
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleParty.java
  src/test/resources/claim-application.json
  src/test/resources/defendant-response-full-admission.json
  src/test/resources/defendant-response-full-defence.json
  src/test/resources/jackson-serialization-samples/claimant-response.json
  src/test/resources/legal-claim-application.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1809

#1814 Roc 7933 part remisson rebase
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimData.java
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFPartRemissionCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFPartRemissionCallbackHandlerTest.java
  src/test/resources/claim-application.json
  src/test/resources/jackson-serialization-samples/claimant-response.json
  src/test/resources/legal-claim-application.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1814

#1819 Roc 7936 more information required
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimData.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/serialization/ClaimDataSerializationTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMoreInfoRemissionCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMoreInfoRemissionCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1819

#1826 ROC-7934 Added callbacks to CCD events to notify claimant
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/HwfClaimUpdatedEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFHalfRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMoreInfoRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFNoRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFPartRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/EventProducerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullRemissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFHalfRemissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMoreInfoRemissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFNoRemissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFPartRemissionCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1826

#1766 Feature/roc 7944 reconsideration deadline change
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1766

#1834 adding nightly build changes
  audit.json
  security.sh
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1834

#1836 adding audit file changes
  audit.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1836

#1837 adding audit file changes
  audit.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1837

#1839 adding urls to audit.json
  audit.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1839

#1840 Fix/legalrep claim submit email
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  src/aat/resources/environment.properties
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailProperties.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationService.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationServiceTest.java
  src/test/resources/environment.properties
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1840

#1845 Update main.tf
  infrastructure/main.tf
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1845
