Repository hmcts/cmc-claim-store, pull requests merged in 2020-08, with the labels that each got.

#1865 Openid sonar fix
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/solicitor/SolicitorPdfTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/idam/IdamApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/security/JwtGrantedAuthoritiesConverter.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/UserServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1865

#1868 ROC-7975 Set the current time as the date referred for direction
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1868

#1815 ROC-7879-Claim-Stayed-batch-job-failure
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/AbstractStateTransitionJob.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ScheduledStateTransitionService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/statetransition/StateTransitions.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/StayClaimJobTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/WaitingTransferJobTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/SampleQueryConstants.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ScheduledStateTransitionServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1815

#1829 [DONOT MERGE UNTIL RPA HAVE CONFIRMED FOR READINESS] feat: Notify RPA for legal claim (CMC-511)
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/LegalSealedClaimJsonMapper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/LegalSealedClaimJsonMapperTest.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/SealedClaimJsonMapperTest.java
  rpa-mapper/src/test/resources/claim/company_rpa_citizen_case.json
  rpa-mapper/src/test/resources/claim/company_rpa_legal_case.json
  rpa-mapper/src/test/resources/claim/individual_rpa_citizen_case.json
  rpa-mapper/src/test/resources/claim/individual_rpa_legal_case.json
  rpa-mapper/src/test/resources/claim/organisation_rpa_citizen_case.json
  rpa-mapper/src/test/resources/claim/organisation_rpa_legal_case.json
  rpa-mapper/src/test/resources/claim/sole_trader_rpa_citizen_case.json
  rpa-mapper/src/test/resources/claim/sole_trader_rpa_legal_case.json
  src/aat/resources/environment.properties
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/ClaimIssuedNotificationServiceTest.java
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/ClaimIssuedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/config/EmailProperties.java
  src/main/resources/bootstrap.yml
  src/test/resources/environment.properties
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1829

#1884 Roc-8310 Nightly Build and suppression
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1884
