Repository hmcts/cmc-claim-store, pull requests merged in 2020-05, with the labels that each got.

#1649 ROC-7723: Add additional payment details
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Payment.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/PaymentTest.java
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SamplePayment.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsServiceTest.java
  src/test/resources/claim-application.json
Labels: ns:money-claims, rel:cmc-claim-store-pr-1649

#1683 Add Suppress for CVE-2020-9488
  dependency-check-suppressions.xml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1683

#1676 ROC-7890: Ignore unknown properties to accept return url from frontend
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Payment.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1676

#1660 ROC-5882 Notify claimant when paper response is received
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/Lazy.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/LazyTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1660

#1688 ROC-7890: Remove validation from payment object as not sent from frontend after…
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Payment.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/PaymentTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1688

#1681 Add conditional injection of service
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/LetterGeneratorService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1681

#1689 Correct the cmc feature toggles in config
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1689

#1691 ROC-7890: Add null check for payment status in mapper
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapper.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1691

#1633 ROC-7696 Add paymentDate and paymentMethod to defence response pdf
  build.gradle
  gradle.properties
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/documents/DefendantResponseReceiptServiceIT.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/helper/HTMLTemplateProcessor.java
  src/integrationTest/resources/documents/expectedDefendantResponseReceipt.html
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DefendantResponseReceiptService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/FullDefenceResponseContentProvider.java
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/DefendantResponseContentProviderTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1633

#1669 ROC-7890: Pass the return url in payload from frontend
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/PaymentMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Payment.java
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SamplePayment.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimModificationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsServiceTest.java
  src/test/resources/claim-application.json
Labels: ns:money-claims, rel:cmc-claim-store-pr-1669

#1687 Bug - ROC-7950 settlement agreement made state change to be controlled by feature flag
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/SettlementAgreementMadeCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/SettlementAgreementMadeCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1687

#1690 Feature/roc 7698 set state properly in callback
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/AbstractStateChangeCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/InterlocutoryJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/RedeterminationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/RejectOrganisationPaymentPlanCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1690

#1685 ROC-7925: Fully determine staff uploaded documents equality
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ManageDocumentsCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ManageDocumentsCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1685

#1586 ROC-7287 Allow download documents from dashboard
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocument.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/BasePdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimPdfTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/advices/ResourceExceptionHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/exceptions/DocumentDownloadForbiddenException.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/filters/DocumentsFilter.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimDocumentsAccessRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/filters/DocumentsFilterTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimDocumentsAccessRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/fixtures/SampleUser.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1586

#1634 ROC-7436-Removed DataFixSupportController to avoid accidental triggering.
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DataFixSupportController.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1634

#1693 add new test for next court date after xmas
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CalendarTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1693

#1696 update jenkins file
  Jenkinsfile_CNP
Labels: ns:money-claims, rel:cmc-claim-store-pr-1696

#1686 ROC-7427: Caseworker extending defendant response time
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedCitizenNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/MoreTimeRequestRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsPostProcessor.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/LetterGeneratorService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/MoreTimeRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/MoreTimeRequestedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/Formatting.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedCitizenNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsPostProcessorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/MoreTimeRequestedNotificationServiceTest.java
  src/test/resources/core-case-data/submit-response.success.json
Labels: ns:money-claims, rel:cmc-claim-store-pr-1686

#1698 RDM-8494 Upgrade ccd definition version to 1.5.17
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1698

#1238 [WIP] ROC-6594 milo add party name
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/MediationRow.java
  job-scheduler/src/main/java/uk/gov/hmcts/cmc/scheduler/config/CronJobConfiguration.java
  job-scheduler/src/main/java/uk/gov/hmcts/cmc/scheduler/services/JobService.java
  job-scheduler/src/test/java/uk/gov/hmcts/cmc/scheduler/services/JobServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/MiloJob.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/MediationCSVGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/MediationReportService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/MiloJobTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/MediationCSVGeneratorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/MediationReportServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1238

#1703 Fix CVE-2020-5407
  build.gradle
Labels: ns:money-claims, rel:cmc-claim-store-pr-1703

#1708 Update change transtion state
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/statetransition/StateTransitionInput.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1708

#1711 RDM-8562 Upgrade ccd definition version to 1.5.18
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1711

#1713 ROC-8014 Add LaunchDarkly integration
  build.gradle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  infrastructure/main.tf
  launch-darkly-client/build.gradle
  launch-darkly-client/src/main/java/uk/gov/hmcts/cmc/launchdarkly/LaunchDarklyClient.java
  launch-darkly-client/src/main/java/uk/gov/hmcts/cmc/launchdarkly/internal/LDClientFactory.java
  launch-darkly-client/src/test/java/uk/gov/hmcts/cmc/launchdarkly/LaunchDarklyClientTest.java
  launch-darkly-client/src/test/java/uk/gov/hmcts/cmc/launchdarkly/internal/LDClientFactoryTest.java
  settings.gradle
  sonarlint
  src/main/java/uk/gov/hmcts/cmc/claimstore/healthcheck/LaunchDarklyHealthIndicator.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/healthcheck/LaunchDarklyHealthIndicatorTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1713

#1722 enable functionalTest in nightly build
  Jenkinsfile_nightly
Labels: ns:money-claims, rel:cmc-claim-store-pr-1722
