Repository hmcts/cmc-claim-store, pull requests merged in 2020-11, with the labels that each got.

#2016 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2016

#2021 Security fix
  audit.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2021

#2023 Security fix 2
  audit.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2023

#2027 Feature/roc 8418 interlocutory judgement
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ReDeterminationMapper.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ClaimantResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/main/resources/citizen/templates/document/claimantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/ClaimantResponseContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2027

#2036 Adding new state for ROC-8307
  dependency-check-suppressions.xml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2036

#2035 fix for ROC-8580
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/PaperResponseLetterService.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2035

#2046 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2046

#2044 Bespoke order template name change after share point upload
  src/main/resources/application.yml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2044

#2047 Fix for null pointer issue
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/PaperDefenceLetterBodyMapper.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2047

#1763 ROC-7935 - Add callback for event HWF Full Remission
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFeeRemittedCallbackHandler.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFeeRemittedCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1763

#2026 code smell fix
  build.gradle
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/InterestMapperTest.java
  domain-model/build.gradle
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/amount/TotalAmountCalculator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidExpenseConstraintValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidIncomeConstraintValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidResidenceConstraintValidator.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/constraints/ValidExpenseConstraintValidatorTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/constraints/ValidIncomeConstraintValidatorTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/AddressTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/PhoneNumberValidationTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/TheirDetailsTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/evidence/DefendantEvidenceTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/response/DefendantTimelineTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/RoboticsSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/orders/BulkPrintSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/bulkprint/PrintableDocument.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ReferToJudgeCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverter.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/RoboticsSupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/WorkingDayIndicatorTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2026

#2053 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2053
