Repository hmcts/cmc-claim-store, pull requests merged in 2020-03, with the labels that each got.

#1524 Fix milo recipient. Use latest chart java
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  src/main/resources/bootstrap.yml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1524

#1509 ROC-7358 Update pilot courts
  src/main/resources/data/pilot-courts.csv
Labels: ns:money-claims, rel:cmc-claim-store-pr-1509

#1530 Disable ithc legacy deployment
  Jenkinsfile_CNP
Labels: ns:money-claims, rel:cmc-claim-store-pr-1530

#1528 ROC-7612: Upgrade send letter client and api usage
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1528

#1503 ROC-7569 populate order fields
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderPostProcessor.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1503

#1533 Use keyvault values for aks env vars
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  src/main/resources/bootstrap.yml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1533

#1534 Migrate prod to AKS
  Jenkinsfile_CNP
Labels: ns:money-claims, rel:cmc-claim-store-pr-1534

#1460 ROC-7507: Revert bulk print failure notifications to live support
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  infrastructure/main.tf
  src/aat/resources/environment.properties
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/BulkPrintStaffNotificationServiceTest.java
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/LiveSupportEmailProperties.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/LiveSupportEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/emails/StaffEmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/bulkprint/BulkPrintEmailContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/BulkPrintStaffNotificationService.java
  src/main/resources/application.yml
  src/main/resources/liveSupport/templates/email/bulkPrintFailure/body.txt
  src/main/resources/liveSupport/templates/email/bulkPrintFailure/subject.txt
  src/main/resources/livesupport/templates/email/bulkPrintFailure/body.txt
  src/main/resources/livesupport/templates/email/bulkPrintFailure/subject.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1460

#1538 ROC-7628: Revert the ROC-7612 change introduced in system due send letter client version upgrade
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1538

#1461 ROC-7140 jddo mi reporting
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderPostProcessor.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1461

#1539 ROC-7624: Fix deprecation warnings
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/offers/SettlementMapperTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1539

#1545 ROC-7643: Add support endpoint for orders reprint
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/orders/BulkPrintSupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/orders/BulkPrintSupportControllerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1545

#1547 Handle Mock mvc failure for filter initialisation
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/orders/BulkPrintSupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/orders/BulkPrintSupportControllerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1547

#1518 ROC-7376 | added feature toggle for staff email sent for claim issued
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1518

#1525 ROC-7377 | added staff email notification toggle
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJStaffNotificationHandler.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1525

#1517 Feature/ROC-7378 and ROC-7379 feature toggle added for staff email full admission/part admission/full defence
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/DefendantResponseStaffNotificationHandler.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1517

#1520 ROC-7380 - decommission paid in full staff emails
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1520

#1521 ROC-7381 decommission staff emails for states paid
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1521

#1522 ROC-7382 decommission staff emails for more time requested
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedStaffNotificationHandler.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1522

#1519 Feature/ROC-7386 & ROC-7383 feature toggle for staff email for claimant rejection
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectionStaffNotificationService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1519

#1513 Feature/ROC-7388 feature toggle for staff email settlement accepted
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCountersignedStaffNotificationHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCountersignedStaffNotificationHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1513

#1514 Feature/ROC-7389 feature toggle added for staff email settlement rejected
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/RejectSettlementAgreementStaffNotificationHandler.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1514

#1556 bump ccd definiton importer version
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1556

#1553 ROC-7355/ROC-7649 Integration tests for the Settlement component
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SettlementAgreementTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1553

#1550 ROC-7355/ROC-7647 Integration tests for the offers component
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/OffersTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1550

#1527 ROC-7611: Use correct date for dq deadline
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1527

#1554 Feature/ROC-7376 decommission staff emails for claim issue
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1554

#1555 Feature/ROC-7377 decommission staff emails for ccj submitted
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJStaffNotificationHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJStaffNotificationHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1555

#1562 Feature/ROC-7388 & ROC-7389 decommission staff email settlement agreement for when settlement accepted or rejected
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCountersignedStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/RejectSettlementAgreementStaffNotificationHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCountersignedStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/RejectSettlementAgreementStaffNotificationHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1562

#1564 Feature/ROC-7382 decommission staff email for more time requested
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedStaffNotificationHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedStaffNotificationHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1564

#1563 ROC-7381 | Decommissioning Staff Emails - States Paid
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1563

#1558 ROC-7378 decommission staff emails on defendant response
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1558

#1559 ROC-7380 | Decommissioning Staff Email for paid in full
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1559

#1474 refactor and upgrade claim-store chart
  Jenkinsfile_CNP
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1474

#1570 ROC-7611: Add option to overwrite dq deadline
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportControllerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1570

#1566 ROC-7355/ROC-7681 Integration tests for the Defendant response component
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DefendantResponseTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1566

#1552 Upgrade jdk to java 11
  .travis.yml
  Dockerfile
  build.gradle
  ccd-claim-migration/build.gradle
  ccd-sample-data/build.gradle
  domain-model/build.gradle
  domain-sample-data/build.gradle
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1552

#1572 ROC-7689: Remove ccd claim migration module
  ccd-claim-migration/build.gradle
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/App.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/CreateCCDCaseService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/MigrateCoreCaseDataService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/SearchCCDCaseService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/SearchCCDEventsService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/UpdateCCDCaseService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/exceptions/CreateCaseException.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/exceptions/MigrationModelMappingException.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/ccd/services/exceptions/OverwriteCaseException.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/client/CaseEventDetails.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/client/CaseEventsApi.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/client/CoreCaseDataConfiguration.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/client/SignificantItem.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/config/EtlDbConfiguration.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/config/HttpClientConfiguration.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/config/JacksonConfiguration.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/config/LoggerHandler.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/config/OptionalContainerFactory.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/config/ServiceTokenGeneratorConfiguration.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/api/IdamApi.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/AuthenticateUserResponse.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/GeneratePinRequest.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/GeneratePinResponse.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/Oauth2.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/TokenExchangeResponse.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/User.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/models/UserDetails.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/properties/IdamCaseworker.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/properties/IdamCaseworkerProperties.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/idam/services/UserService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/ClaimMapper.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/JsonMapper.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/mappers/MappingUtils.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/repositories/ClaimRepository.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimDataPatcher.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/ClaimMigrator.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/DataFixHandler.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/DataFixService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/DataPrintService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/DataPrinter.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/MigrationHandler.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/services/SupportUpdateService.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/stereotypes/LogExecutionTime.java
  ccd-claim-migration/src/main/java/uk/gov/hmcts/cmc/ccd/migration/util/CCDCaseUtil.java
  ccd-claim-migration/src/main/resources/application.yml
  ccd-claim-migration/src/main/resources/case_event_created_date_migration.sql
  settings.gradle
Labels: ns:money-claims, rel:cmc-claim-store-pr-1572

#1575 decommission ase aat
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:money-claims, rel:cmc-claim-store-pr-1575

#1362 ROC-7192 Improve traceability of auto-stay failures
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ScheduledStateTransitionContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ScheduledStateTransitionService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/statetransition/StateTransitions.java
  src/main/resources/staff/templates/email/intentionToProceed/body.txt
  src/main/resources/staff/templates/email/scheduledStateTransition/body.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepositoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ScheduledStateTransitionServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ScheduledStateTransitionContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/statetransition/StateTransitionsTest.java
Labels: ns:cmc-claim-store-pr-1362, ns:money-claims, pinned, rel:cmc-claim-store-pr-1362

#1580 bump chart version
  charts/cmc-claim-store/Chart.yaml
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:money-claims, rel:cmc-claim-store-pr-1580

#1579 Feature/roc 7385 decommission claimant reject organisation repayment plan
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1579

#1581 ROC-7387: Decommission re-determination email
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/InterlocutoryJudgmentStaffNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/InterlocutoryJudgmentStaffNotificationServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1581

#1494 [To merge 19 March] ROC-6905 Add cancel payment functionality
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateCitizenClaimCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandlerTest.java
Labels: ns:money-claims, pinned, rel:cmc-claim-store-pr-1494

#1587 ROC-6905 ROC-7726 Add feature toggle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandler.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1587

#1589 ROC-6905 ROC-7726 Revert use of HCL2 syntax, which the pipeline rejected
  infrastructure/main.tf
Labels: ns:money-claims, rel:cmc-claim-store-pr-1589

#1582 decommission ase prod
  infrastructure/demo.tfvars
  infrastructure/prod.tfvars
Labels: ns:money-claims, rel:cmc-claim-store-pr-1582

#1588 ROC-7707: Upgrade payments api client version
  build.gradle
Labels: ns:money-claims, rel:cmc-claim-store-pr-1588

#1571 ROC-7355/ROC-7682 Integration tests for the Claimant response component
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantResponseMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ClaimantResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/FullDefenceResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/Response.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimantResponseTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimantResponseRule.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1571

#1574 ROC-7703: Remove calls to /details in claim-store
  src/main/java/uk/gov/hmcts/cmc/claimstore/idam/IdamApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/idam/models/UserDetails.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/idam/models/UserInfo.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/UserService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/UserServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1574

#1595 Feature/ctsc phase 1
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  infrastructure/main.tf
  infrastructure/sandbox.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1595

#1592 ROC-6905 ROC-7750 Remove the auto cancel payments toggle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1592

#1596 ROC-7355 ROC-7763 Refactored `000CM001` to `000MC001`
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  rpa-mapper/src/test/resources/admissions/individual_full_admission_by_instalments.json
  rpa-mapper/src/test/resources/admissions/individual_full_admission_by_set_date.json
  rpa-mapper/src/test/resources/admissions/individual_full_admission_immediately.json
  rpa-mapper/src/test/resources/admissions/individual_part_admission_by_instalments.json
  rpa-mapper/src/test/resources/admissions/individual_part_admission_by_set_date.json
  rpa-mapper/src/test/resources/admissions/individual_part_admission_immediately.json
  rpa-mapper/src/test/resources/admissions/individual_part_admission_states_paid.json
  rpa-mapper/src/test/resources/admissions/sole_trader_part_admission_address_modified_corres_address.json
  rpa-mapper/src/test/resources/admissions/sole_trader_part_admission_states_paid.json
  rpa-mapper/src/test/resources/claim/company_rpa_case.json
  rpa-mapper/src/test/resources/claim/individual_rpa_case.json
  rpa-mapper/src/test/resources/claim/organisation_rpa_case.json
  rpa-mapper/src/test/resources/claim/sole_trader_rpa_case.json
  rpa-mapper/src/test/resources/defence/company_rpa_case.json
  rpa-mapper/src/test/resources/defence/hearing_requirements_case.json
  rpa-mapper/src/test/resources/defence/individual_address_modified_rpa_case.json
  rpa-mapper/src/test/resources/defence/individual_mediation_not_opted_rpa_case.json
  rpa-mapper/src/test/resources/defence/individual_rpa_case.json
  rpa-mapper/src/test/resources/defence/organisation_rpa_case.json
  rpa-mapper/src/test/resources/defence/organisation_rpa_case_alreadyPaid.json
  rpa-mapper/src/test/resources/defence/sole_trader_rpa_case.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_by_set_date.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_fortnightly.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_immediately.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_immediately_nothing_paid.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_monthly.json
  rpa-mapper/src/test/resources/judgement/rpa_request_for_judgement_weekly.json
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/ClaimIssuedNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/DefenceResponseNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/MoreTimeRequestedNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/RequestForJudgementNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/BulkPrintStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationEmailContentProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceWithEmailServiceRetryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/orders/BulkPrintSupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCounterSignedCitizenActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/CountersignSettlementAgreementActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/OfferMadeCitizenActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/OfferRespondedCitizenActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/SignSettlementAgreementActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/MediationCSVGeneratorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/MediationReportServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/content/DefendantAdmissionStaffEmailContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/content/FullDefenceStaffEmailContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProviderTest.java
  src/test/resources/jackson-serialization-samples/claimant-response.json
Labels: ns:money-claims, rel:cmc-claim-store-pr-1596

#1578 ROC-7557: Issue general letter to claimant or defendant through CCD UI
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDContactPartyType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/GeneralLetterContent.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/DummyBulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/PrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/GeneralLetterReadyToPrintEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtilsTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1578

#1516 ROC 7376 decommission staff email feature toggle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtils.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtilsTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/variables.tf
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/PaidInFullJsonMapper.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/helper/RPAMapperHelper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/helper/RPAMapperHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectionStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationServiceTest.java
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCountersignedStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/offer/RejectSettlementAgreementStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/CountersignSettlementAgreementActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/PaidInFullNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectionStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/InterlocutoryJudgmentStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/ccj/CCJStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/AgreementCountersignedStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/CountersignSettlementAgreementActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/offer/RejectSettlementAgreementStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/PaidInFullNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/InterlocutoryJudgmentStaffNotificationServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1516

#1602 ROC-7355 ROC-7761 claim integration tests
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CalculateInterestAmountTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CalendarTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimModificationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimQueryTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CourtFinderTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimAuthorisationRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimAuthorisationRuleTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1602

#1541 ROC-7346 fix defendant name changed
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DataFixSupportController.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1541
