Repository hmcts/cmc-claim-store, pull requests merged in 2020-01, with the labels that each got.

#1370 Fix CVE-2019-17563
  build.gradle
Labels: ns:cmc-claim-store-pr-1370

#1369 ROC-7222-Fix the resume payment not updating the Draft change.
  .travis.yml
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1369

#1376 ROC-7231: Use existing payment only for successful payment
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1376

#1360 ROC-6843: Migrate and fix tests out of deprecated
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/ClaimIssuedNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/DefenceResponseNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/MoreTimeRequestedNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/RequestForJudgementNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/InterlocutoryJudgmentStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/RejectSettlementAgreementStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/SettlementReachedStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationServiceTest.java
Labels: ns:cmc-claim-store-pr-1360, pinned

#1377 ROC-6843: Migrate and fix tests out of deprecated 2
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CalculateInterestAmountTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/RootTest.java
Labels: ns:cmc-claim-store-pr-1377

#1380 update infrastructure config
  infrastructure/aat.tfvars
  infrastructure/variables.tf
Labels: ns:money-claims, rel:cmc-claim-store-pr-1380

#1378 ROC-4486: Add junit5 dependency and update 1 test to use junit5
  build.gradle
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/courtfinder/models/AddressTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1378

#1274 Upgrade gradle to 5.6.3
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/TestData.java
Labels: ns:cmc-claim-store-pr-1274, ns:money-claims, rel:cmc-claim-store-pr-1274

#1382 ROC-6843: Migrate and fix tests out of deprecated 3
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/errors/EndpointErrorsTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/errors/EndpointErrorsTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1382

#1385 Upgrade the mockito deprecated method
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/RequestForJudgementNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1385

#1394 ROC-6843: Remove deprecated integration tests
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/BaseGetTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/BaseOfferTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/BaseSaveTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/ClaimStore.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/MockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/PostClaimOperation.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/AcceptOrRejectOfferTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/BulkPrintRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/DownloadRepresentedClaimCopyTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/DownloadRepresentedClaimCopyWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/DummyBulkPrintRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GenerateClaimIssueReceiptTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GenerateDefendantResponseReceiptTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GenerateSealedClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GenerateSettlementAgreementCopyTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GetClaimByClaimReferenceFromCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GetClaimByClaimReferenceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GetClaimByExternalIdFromCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GetClaimByExternalIdTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GetClaimByExternalReferenceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GetClaimByReferenceNumberTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GetClaimsByClaimantIdFromCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GetClaimsByClaimantIdTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/GetClaimsByDefendantIdTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/IsDefendantLinkedTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/LinkDefendantToClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/LinkDefendantToClaimViaAuthenticationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/LinkDefendantToClaimWithWithCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/MakeOfferTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/MoreTimeRequestedCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/RequestMoreTimeForResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/RequestMoreTimeForResponseWithCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/SaveClaimAsynchronouslyAtCCDTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/SaveClaimTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/SaveClaimWithCoreCaseDataStoreTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/SaveClaimWithDocumentManagementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/SaveClaimantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/SaveCountyCourtJudgementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/SaveDefendantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/SaveSettlementAgreementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/base/BaseDownloadDocumentTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/errors/EndpointErrorsTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/services/citizen/SettlementReachedCitizenNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/support/GetMetadataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/support/ResendStaffNotificationsTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/deprecated/controllers/testingsupport/LinkDefendantToClaimTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1394

#1397 ROC-6843: Move mocked configuration in aat as not required for integration tests
  build.gradle
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/deprectaed/MockedDatabaseConfiguration.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1397

#1409 ROC-7450: Resolve CVE-2020-5398
  build.gradle
Labels: ns:money-claims, rel:cmc-claim-store-pr-1409

#1330 ROC-6966: Download mediation Agreement
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentCollection.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
Labels: ns:cmc-claim-store-pr-1330, ns:money-claims, rel:cmc-claim-store-pr-1330

#1414 ROC-6843: Fix terraform issue in config
  infrastructure/main.tf
Labels: ns:money-claims, rel:cmc-claim-store-pr-1414

#1410 change staging aat frontend url
  infrastructure/aat.tfvars
Labels: ns:money-claims, rel:cmc-claim-store-pr-1410

#1413 Fix markdown for PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ns:money-claims, rel:cmc-claim-store-pr-1413

#1395 ROC-7250 Relabel staff notifications. Tidy code.
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsCoreCaseDataTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1395

#1415 Bump helm chart version
  charts/cmc-claim-store/Chart.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1415
