Repository hmcts/cmc-claim-store, pull requests merged in 2020-12, with the labels that each got.

#2064 Hwf master v2 fix code smell
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFeeRemittedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFHalfRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMiscellaneousCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMoreInfoRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFNoRemissionCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFeeRemittedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullRemissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFHalfRemissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMoreInfoRemissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFNoRemissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFPartRemissionCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2064

#2069 Feature/link defendant
  README.md
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/CountyCourtJudgementTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/LinkDefendantTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SettlementOfferTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimModificationTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2069

#2075 ROC-8577-Nightly-build-Dependency-error-suppressed
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2075

#2079 ROC_8577-nightly-build_dependency_issue_fix
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2079

#2080 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2080

#2061 changes for story ROC-8626
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2061

#2056 changes for story ROC-8605
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/IssuePaperDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/IssuePaperDefenceCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2056

#2057 reconsideration change
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2057

#2084 ROC-8482+8527+8528+8604=Paper response review event changes for 'Response Form' document types
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDScannedDocument.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDScannedDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ScannedDocumentMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ScannedDocument.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ScannedDocumentSubtype.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ScannedDocumentType.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/filters/DocumentsFilter.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseOCON9xFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/IssuePaperDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandler.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/filters/DocumentsFilterTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseOCON9xFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/IssuePaperDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2084

#2088 ROC_8555_bespoke_order_file_name
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderRenderer.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderRendererTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2088

#2073 bypass validation for bespoke
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2073

#2089 ROC-8686-Nightly-build-fix
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2089
