Repository hmcts/cmc-claim-store, pull requests merged in 2020-04, with the labels that each got.

#1609 ROC-7355 ROC-7797 Integration tests for the CCJ component
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CountyCourtJudgmentTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRuleTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1609

#1427 ROC-7041 RPA callback
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ResetRpaCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RpaEventType.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RpaStateType.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/ResetRpaCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/RoboticsNotificationServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1427

#1614 fix terraform failures
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
Labels: ns:money-claims, rel:cmc-claim-store-pr-1614

#1616 upgrade java chart
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1616

#1622 upgrade ccd-chart
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1622

#1613 ROC-7755 Update statement of truth.
  src/main/resources/citizen/templates/document/claimIssueReceipt.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/main/resources/staff/templates/document/sealedClaim.html
Labels: ns:money-claims, rel:cmc-claim-store-pr-1613

#1606 ROC-7607 CCJ Request to update CCJ state and upload document to CCD
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentCollectionMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentCollectionMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/CCJByAdmissionOrDeterminationPdfService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/CcjRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/CCJByAdmissionOrDeterminationPdfServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/CcjRequestedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtilsTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1606

#1630 Add extra logging to get roles from idam and ccd
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CallbackHandlerFactory.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1630

#1639 upgrade ccd chart
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1639

#1546 ROC-7469 Add new state and comments
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/DirectionsQuestionnaireDeadlineCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/DirectionsQuestionnaireDeadlineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1546

#1624 ROC-7179 changing case state to settlementAgreementMade
  charts/cmc-claim-store/Chart.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1624

#1642 Feature/ccd 1.5.13
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocument.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDLaList.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  charts/cmc-claim-store/Chart.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  infrastructure/sandbox.tfvars
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimantResponseReceiptService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/AbstractStateChangeCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/DirectionsQuestionnaireDeadlineCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/InterlocutoryJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ManageDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ReferToJudgeCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/RejectOrganisationPaymentPlanCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ReviewJudgeCommentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/ProvideJudgeDirectionsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StaffPdfCreatorService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/DirectionsQuestionnaireDeadlineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/InterlocutoryJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ManageDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ReferToJudgeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/RejectOrganisationPaymentPlanCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ReviewJudgeCommentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/ProvideJudgeDirectionsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtilsTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1642

#1645 Remove additional callback for direction questionnaire
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/DirectionsQuestionnaireDeadlineCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/DirectionsQuestionnaireDeadlineCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1645

#1644 Feature/roc 5350 rpa new judgment types
  build.gradle
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/serialization/CountyCourtJudgmentSerializationTest.java
  domain-model/src/test/resources/county-court-judgment/by-instalments.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleCountyCourtJudgment.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/RequestForJudgmentJsonMapper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/RequestForJudgmentJsonMapperTest.java
  rpa-mapper/src/test/resources/judgment/rpa_request_for_by_admission_judgment.json
  rpa-mapper/src/test/resources/judgment/rpa_request_for_default_judgment.json
  rpa-mapper/src/test/resources/judgment/rpa_request_for_judgment_by_set_date.json
  rpa-mapper/src/test/resources/judgment/rpa_request_for_judgment_fortnightly.json
  rpa-mapper/src/test/resources/judgment/rpa_request_for_judgment_immediately.json
  rpa-mapper/src/test/resources/judgment/rpa_request_for_judgment_immediately_nothing_paid.json
  rpa-mapper/src/test/resources/judgment/rpa_request_for_judgment_monthly.json
  rpa-mapper/src/test/resources/judgment/rpa_request_for_judgment_weekly.json
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/RequestForJudgmentNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/RoboticsSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/RequestForJudgmentNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/RoboticsSupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/RoboticsNotificationServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1644

#1648 Resolve new definition based failures
  charts/cmc-claim-store/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/helper/JsonMappingHelper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireDeadlineCalculator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireDeadlineCalculatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
  src/test/resources/bank-holidays.json
Labels: ns:money-claims, rel:cmc-claim-store-pr-1648

#1662 RDM-8270 Upgrade ccd definition version to 1.5.15.3
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1662

#1666 Feature/roc 7798 stop paper response upload
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ManageDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/RedeterminationCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ReferToJudgeCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ManageDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/RedeterminationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ReferToJudgeCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1666

#1668 upgrade base java chart
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1668

#1667 Add idam user url for definition store to resolve issue
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1667

#1671 Amend preview chart for rediirect config
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1671

#1584 ROC-7391 Update contact details
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDAddress.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDApplicant.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCollectionElement.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDContactChangeContent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDParty.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDTelephone.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/util/MapperUtil.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/caseworker/ContactDetailsChangeCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/support/ResendStaffNotificationsCoreCaseDataTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/CCJStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimIssuedStaffNotificationEmailContentProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectOrgPaymentPlanStaffNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/pdf/DocumentTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/TemplateService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsPostProcessor.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/LetterContentBuilder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/LetterGeneratorService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsPostProcessorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/LetterContentBuilderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimantDirectionsHearingContentProviderTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:money-claims, rel:cmc-claim-store-pr-1584

#1675 Set pull policy and latest for defiinition store
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1675

#1640 ROC-7857-SOT changes for legal rep journey
  src/main/resources/staff/templates/document/legalSealedClaim.html
  src/main/resources/staff/templates/document/sealedClaim.html
Labels: ns:money-claims, rel:cmc-claim-store-pr-1640

#1677 RDM-8293 Upgrade ccd definition version to 1.5.16
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1677

#1679 ROC-7916 - Fix for claimant rejection for FullDefence, No Mediation, Offline DQ throws 409 exception
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1679

#1646 ROC-7427 Allow caseworker to extend response deadline
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedCitizenNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/MoreTimeRequestRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/CallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsPostProcessor.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/MoreTimeRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/MoreTimeRequestedNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedCitizenNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/response/MoreTimeRequestedStaffNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/MoreTimeRequestRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsPostProcessorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/MoreTimeRequestedNotificationServiceTest.java
  src/test/resources/core-case-data/submit-response.success.json
Labels: ns:money-claims, rel:cmc-claim-store-pr-1646

#1680 ROC-7921 Generate and upload document if journeys document is not found
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1680

#1661 Add support for counter claim document type
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/util/MapperUtil.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentCollectionMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/MapperUtilTest.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleStaffUploadedDoc.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ManageDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ManageDocumentsCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1661
