Repository hmcts/cmc-claim-store, pull requests merged in 2020-02, with the labels that each got.

#1421 ROC-7478 Update reform java logging to 5.1.1
  build.gradle
  email-client/build.gradle
  job-scheduler/build.gradle
  job-scheduler/src/main/java/uk/gov/hmcts/cmc/scheduler/services/JobService.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1421

#1423 cleanup claimstore chart
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1423

#1425 ROC-7495: Update service date on initiate and resume payment callbacks
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateCitizenClaimCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateLegalRepClaimCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/InitiatePaymentCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/InitiatePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legalrep/CreateLegalRepClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/InitiatePaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1425

#1428 ROC-7452: Update deprecated media types
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/CommonOperations.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CalendarController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimantResponseController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CountyCourtJudgmentController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CourtFinderController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/DefendantResponseController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/InterestRatesController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/OffersController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ResponseDeadlineController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/SettlementAgreementController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/UserRolesController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/CaseMetadataController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1428

#1432 Remove the deprecated `enableDockerBuild()` configuration
  Jenkinsfile_CNP
Labels: ns:money-claims, rel:cmc-claim-store-pr-1432

#1379 ROC-7123 Claimant receives notification for default CCJ.
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/NotifyClaimantDefaultCCJJob.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseSearchApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/CCJNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/NotifyClaimantDefaultCCJJobTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepositoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/SampleQueryConstants.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/BaseNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/CCJNotificationServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1379

#1392 ROC-6749 Add filter to include pragma and Cache-Control headers to all responses
  src/main/java/uk/gov/hmcts/cmc/claimstore/processors/NoCacheFilter.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/NoCacheFilterTest.java
Labels: ns:money-claims, pinned, rel:cmc-claim-store-pr-1392

#1439 ROC-7504: Update created at time when payment is successful
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandler.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1439

#1447 CVE-2019-10782 bump checkstyle
  build.gradle
  config/checkstyle/checkstyle.xml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1447

#1429 ROC-7498 Mediation successful template missing claim reference in fai…
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsights.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessfulCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessfulCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1429

#1417 ROC-7466 Enable local logging of app insights events
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsights.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1417

#1449 ROC-7508-Flyway fails on migrate unable to find flyway_schema_history table
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CmcDBConfiguration.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1449

#1418 ROC-7460 Add app-insights event logging when transitioning claim in IoC
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandlerTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1418

#1450 ROC-7508-Flyway revert version upgrade to unblock pipeline
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CmcDBConfiguration.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1450

#1260 ROC-6481 Add email for claimant settling after full defense
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationToDefendantServiceTest.java
Labels: ns:money-claims, pinned, rel:cmc-claim-store-pr-1260

#1433 ROC-7432 - Fix conversion issue in ScannedDocument Mapper - url to string instead of path
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ScannedDocumentMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ScannedDocumentMapperTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1433

#1367 ROC-7040: Allow caseworkers to resend new PINs via email
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ResetAndSendNewPinCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ResetAndSendNewPinCallbackHandlerTest.java
Labels: ns:cmc-claim-store-pr-1367, ns:money-claims, rel:cmc-claim-store-pr-1367

#1467 [WIP]increase livenessFailureThreshold
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1467

#1465 Update spring cloud dependencies and fix compile issues
  build.gradle
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:money-claims, rel:cmc-claim-store-pr-1465

#1396 ROC-6377-Updating response time and more time requested reviewing paper response
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocument.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementBackedDocumentsServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1396

#1422 ROC-7247: Case level experts
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDAddress.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDHearingCourtType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderGenerationData.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOtherDirectionHeaderType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/AddressMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapperTest.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Address.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/PilotCourt.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/DirectionOrder.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/PilotCourtTest.java
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderPostProcessor.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/rules/GenerateOrderRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/HearingCourtDetailsFinder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtils.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/HearingCourtDetailsFinderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/rules/GenerateOrderRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:money-claims, rel:cmc-claim-store-pr-1422

#1463 ROC-6895: Update deadline days
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/LegalOrderGenerationDeadlinesCalculator.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/LegalOrderGenerationDeadlinesCalculatorTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1463

#1381 ROC-7172 Add content to judge direction order
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1381

#1470 ROC-7172: Add date serialization annotations
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1470

#1452 ROC-6863: Configure per pilot courts
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderPostProcessor.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/Pilot.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourt.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtCSVHeader.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtService.java
  src/main/resources/data/pilot-courts.csv
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtServiceTest.java
  src/test/resources/pilot-court/pilot-courts-JDDO.csv
  src/test/resources/pilot-court/pilot-courts-LA.csv
  src/test/resources/pilot-court/pilot-courts-court-ids.csv
  src/test/resources/pilot-court/pilot-courts-dates.csv
  src/test/resources/pilot-court/pilot-courts-invalid.csv
  src/test/resources/pilot-court/pilot-courts-names.csv
  src/test/resources/pilot-court/pilot-courts-single.csv
  src/test/resources/pilot-court/pilot-courts.csv
Labels: ns:money-claims, rel:cmc-claim-store-pr-1452

#1451 ROC-7006: Configurable pilot courts
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDOrderGenerationData.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapper.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/PilotCourt.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/DirectionOrder.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/PilotCourtTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleHearingLocation.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderPostProcessor.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/HearingCourtDetailsFinder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/Pilot.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourt.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtCSVHeader.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DirectionsQuestionnaireUtils.java
  src/main/resources/application.yml
  src/main/resources/data/pilot-courts.csv
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/DeadlineSupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/HearingCourtDetailsFinderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationFailedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtServiceTest.java
  src/test/resources/pilot-court/pilot-courts-JDDO.csv
  src/test/resources/pilot-court/pilot-courts-LA.csv
  src/test/resources/pilot-court/pilot-courts-court-ids.csv
  src/test/resources/pilot-court/pilot-courts-dates.csv
  src/test/resources/pilot-court/pilot-courts-invalid.csv
  src/test/resources/pilot-court/pilot-courts-names.csv
  src/test/resources/pilot-court/pilot-courts-single.csv
  src/test/resources/pilot-court/pilot-courts.csv
Labels: ns:money-claims, rel:cmc-claim-store-pr-1451

#1475 update pay url for ASE demo
  infrastructure/demo.tfvars
Labels: ns:money-claims, rel:cmc-claim-store-pr-1475

#1477 Clean up chart. Update docker image
  .travis.yml
  Dockerfile
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1477

#1464 ROC-7281 Add messages to exceptions
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/util/MapperUtil.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimDocumentCollectionMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantResponseMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ReDeterminationMapperTest.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimFeatures.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimState.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/PaymentStatus.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/offers/Settlement.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/YesNoOption.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/offers/SettlementTest.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/DefenceResponseJsonMapper.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/PaidInFullJsonMapper.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/PaidInFullTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/solicitor/SolicitorPdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ClaimantResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/DefendantResponseContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/LegalSealedClaimContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PaymentIntentionContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ReviewOrderContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/StatementOfMeansContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/bulkprint/BulkPrintPDFContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/ClaimantDirectionsQuestionnaireContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/settlementagreement/SettlementAgreementPDFContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseStaffNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/DefendantResponseCitizenNotificationsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/revieworder/ReviewOrderCitizenNotificationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/solicitor/RepresentativeConfirmationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimantResponseRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DefendantResponseService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/ClaimantRejectionStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/DefendantResponseStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/StatesPaidStaffNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/CommonErrors.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/DefendantResponseContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/content/FullDefenceStaffEmailContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderCoverSheetContentProviderTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1464

#1482 Versioning CCD Callbacks
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/CallbackParams.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/CallbackVersion.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/rules/GenerateOrderRule.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/rules/GenerateOrderRuleTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1482

#1489 ROC-7248: Update template version number
  src/main/resources/application.yml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1489

#1483 Enable AKS staging
  Jenkinsfile_CNP
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1483

#1484 Feature/jddo bug fixes
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/DirectionHeaderType.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1484

#1493 Fixing preview issue
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1493

#1478 ROC-6968, ROC-7362, ROC-7483: Configure Pilot courts
  src/main/resources/data/pilot-courts.csv
Labels: ns:money-claims, rel:cmc-claim-store-pr-1478

#1499 Fix config issues
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  src/main/resources/bootstrap.yml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1499

#1498 ROC-7566, ROC-7570: Fully implement hearing court selection
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionOrderService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderPostProcessor.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/DirectionOrderServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtServiceTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1498

#1501 remove frontend
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1501

#1504 upgrade postgres db for PRs
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/requirements.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1504

#1505 ROC-7604 Refactor deprecated assertions
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/util/MapperUtilTest.java
Labels: ns:money-claims, rel:cmc-claim-store-pr-1505

#1506 add DOC_ASSEMBLY_URL
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1506

#1500 Enable AKS staging deployment
  Jenkinsfile_CNP
  charts/cmc-claim-store/values.aat.template.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1500

#1515 Fix env vars for test/prod. Enable AAT AKS.
  Jenkinsfile_CNP
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:money-claims, rel:cmc-claim-store-pr-1515
