Repository hmcts/cmc-claim-store, pull requests merged in 2020-09, with the labels that each got.

#1899 ccd def version bump
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1899

#1900 Resolve Sonar issue
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementService.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1900

#1902 Feature/roc 7794 capture all dq
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleDirectionsQuestionnaire.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProvider.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1902

#1904 ROC-7879 stay claim batch job failures
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ScheduledStateTransitionService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/statetransition/StateTransitions.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/statetransition/StateTransitionsTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1904

#1888 Nightly Build Security fixes
  audit.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1888

#1907 Rdm 9523 bump ccd version
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1907

#1903 Feature/roc 8196 ithc csrf
  build.gradle
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/UserRoleConstraintValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/UserRoleValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/UserRoleRequest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/constraints/UserRoleConstraintValidatorTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/UserRolesController.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1903

#1913 Retry logic for functional tests
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/BaseSubmitClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimPdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/CountyCourtJudgementTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/FeatureTogglesTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/LinkDefendantTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/PaidInFullTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SettlementOfferTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/solicitor/SolicitorPdfTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/Retry.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/RetryFailedFunctionalTests.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1913

#1915 Roc 8343 functional test fix
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SettlementOfferTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1915

#1919 Roc 8343 nightly functional tests
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/test/resources/defendant-response-full-defence.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1919

#1923 nightly functional test fix
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1923

#1890 feature(ROC-8347): Configure zap-cli to only error for Medium and above alerts in nightly security scan
  audit.json
  security.sh
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1890

#1864 ROC-8195 : changes for endpoint exposure /env
  src/main/resources/application.yml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1864

#1946 Roc 7467 jddo
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/rules/GenerateOrderRule.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/rules/GenerateOrderRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1946

#1947 Feature/roc 7102
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderRenderer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderRendererTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtilsTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1947

#1950 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1950

#1878 ROC-7486 adding no objecting party conditions
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDResponseSubjectType.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1878

#1953 Feature/roc 8371 milo report
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/MiloJob.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/MediationCSVGenerator.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/repositories/elastic/SampleQueryConstants.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1953

#1924 Update build.gradle
  build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1924

#1958 Judges direction order - null pointer fix
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/rules/GenerateOrderRule.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/rules/GenerateOrderRuleTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1958
