Repository hmcts/cmc-claim-store, pull requests merged in 2020-10, with the labels that each got.

#1972 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1972

#1959 bug:Correct the service date to claim submission date
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/LegalSealedClaimJsonMapper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/LegalSealedClaimJsonMapperTest.java
  rpa-mapper/src/test/resources/claim/company_rpa_legal_case.json
  rpa-mapper/src/test/resources/claim/individual_rpa_legal_case.json
  rpa-mapper/src/test/resources/claim/organisation_rpa_legal_case.json
  rpa-mapper/src/test/resources/claim/sole_trader_rpa_legal_case.json
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/RoboticsSupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/RoboticsSupportControllerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1959

#1975 Claim-Store : upgrade azurerm to the lastest 2.x version
  charts/cmc-claim-store/values.preview.template.yaml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1975

#1984 Upgrade owasp dependencycheck plugin to 6
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1984

#1978 Added Listing to reason for transfer
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDTransferReason.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/NoticeOfTransferLetterTemplateMapperTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1978

#1988 Rdm 9849 bumping ccd version 1.6.13
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1988

#1983 Fix for ROC-8389 - to allow defendant to download claim document
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimDocumentsAccessRule.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimDocumentsAccessRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/fixtures/SampleUser.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1983

#1993 Feature/roc 7433 issue paper defense forms
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDClaimDocumentType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDPrintRequestType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentCollection.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/bulkprint/PrintRequestType.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintRequestType.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/response/PaperDefenceReadyToPrintEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ResponseDeadlineCalculator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/MoreTimeRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseAdmissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/DocumentPublishService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/IssuePaperDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/IssuePaperResponseNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/PaperDefenceLetterBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/PaperResponseLetter.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/PaperResponseLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationReferenceBuilder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ResponseDeadlineCalculatorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/DocumentPublishServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/IssuePaperDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/IssuePaperResponseNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/PaperDefenceLetterBodyMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/PaperResponseLetterServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterServiceTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1993

#1973 Claim Store : Fixing the skipped Functional test
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/solicitor/SolicitorPdfTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceWithEmailServiceRetryTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1973

#1995 Feature/roc 8484 support milo regenerate
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1995

#1936 Feature/roc 7436 bespoke direction order
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDBespokeOrderDirection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDBespokeOrderWarning.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/BespokeOrderDirectionMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/BespokeOrderDirectionMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapperTest.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/BespokeDirection.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/BespokeOrderDirection.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderRenderer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/BespokeDirection.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderRendererTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1936

#1979 ROC-8420: Case worker should be able to review paper response even if Defendant has responded online
  launch-darkly-client/src/main/java/uk/gov/hmcts/cmc/launchdarkly/LaunchDarklyClient.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1979

#2002 Feature/roc 8299 dependent pin letter with toggle
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/CitizenServiceDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/PrintableDocumentService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBody.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/CitizenServiceDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentOrchestrationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/PrintableDocumentServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2002

#2007 Feature/roc 7433 template rename
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartyDetailsContentProvider.java
  src/main/resources/application.yml
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/PartyDetailsContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2007

#1999 Removed event from logging, added claim reference instead
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-1999

#2008 correcting alignment for cover page
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderCoverSheetContentProvider.java
  src/main/resources/staff/templates/document/legalOrderCoverSheet.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderCoverSheetContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2008

#2009 Bug/roc 8567 fix code smells
  build.gradle
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/BespokeOrderDirectionMapperTest.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapperTest.java
  dependency-check-suppressions.xml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidEmploymentConstraintValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidInterestConstraintValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidInterestDateConstraintValidator.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/constraints/ValidUnemploymentConstraintValidator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/RoboticsSupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ResponseAcceptationContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/StayClaimJob.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/WaitingTransferJob.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2009

#2013 added fingerprint
  audit.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2013
