Repository hmcts/cmc-claim-store, pull requests merged in 2021-01, with the labels that each got.

#2097 consolidated change of all dependency bot PR's for claim store
  build.gradle
  domain-model/build.gradle
  email-client/build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2097

#2098 revert flyway dependency to its previous version
  build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2098

#2107 update case meta data for functional test
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/CaseMetadataController.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2107

#2117 changes for story ROC-8740
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/PaperDefenceLetterBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandler.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2117

#2119 bumping version to 1.8.9
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2119
