Repository hmcts/cmc-claim-store, pull requests merged in 2021-06, with the labels that each got.

#2372 Address override ROC-9077
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ResetRpaCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ResetAndSendNewPinCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/ResetRpaCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ResetAndSendNewPinCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2372

#2400 Changes to include paper response for state transition
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/statetransition/StateTransitions.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/statetransition/StateTransitionsTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2400

#2406 pilot court phase1 list
  charts/cmc-claim-store/values.preview.template.yaml
  src/main/resources/data/pilot-courts.csv
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2406

#2421 feature/ROC-9199-Tokens removed
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimModificationTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2421

#2413 Convert Acronym expansion of HWF to HwF wherever it has been used for HwF Code
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimData.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimDataForHwF.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullAndPartRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMiscellaneousCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFRecalculateInterestCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullAndPartRemissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFRecalculateInterestCallbackHandlerTest.java
  src/test/resources/claim-application-hwf.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2413

#2419 Fix/spring boot upgrade final
  build.gradle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  email-client/build.gradle
  job-scheduler/build.gradle
  rpa-mapper/build.gradle
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/TestIdamConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2419

#2427 updated gradle dependency url
  build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2427

#2433 Excluded HWFcallBackHandler classes
  build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2433

#2435 Security scan failure -- Test url already have / in the end
  security.sh
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2435

#2436 Testing nightly pipeline
  security.sh
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2436
