Repository hmcts/cmc-claim-store, pull requests merged in 2021-09, with the labels that each got.

#2501 Email for coversheet removed from paper response review event
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2501

#2503 Adding azuread provider to fix terraform show error
  infrastructure/state.tf
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2503

#2499 added db v11
  infrastructure/main.tf
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2499

#2502 Added wales pilot court
  charts/cmc-claim-store/values.preview.template.yaml
  src/main/resources/data/pilot-courts.csv
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2502

#2505 pilot court 9229
  src/main/resources/data/pilot-courts.csv
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2505

#2511 bump ccd definition importer to 1.10.20
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2511
