Repository hmcts/cmc-claim-store, pull requests merged in 2021-05, with the labels that each got.

#2308 Fix/roc 9006 sonar issues
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/ResourceReader.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/ScheduledStateTransitionContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/CountersignSettlementAgreementActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/settlement/RejectSettlementAgreementActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimSubmissionOperationIndicatorRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/JobSchedulerService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/MediationCSVGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/MediationReportService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/AppInsightsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullAndPartRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMiscellaneousCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFRecalculateInterestCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ResetRpaCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/breathingspace/BreathingSpaceLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/breathingspace/BreathingSpaceLiftedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/CcjRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/InterlocutoryJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ManageDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/RedeterminationCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ReferToJudgeCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/RejectOrganisationPaymentPlanCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ResetAndSendNewPinCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ReviewJudgeCommentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/SettlementAgreementMadeCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/InitiatePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumeHelpWithFeeClaimSubmissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumePaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/ProvideJudgeDirectionsCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legalrep/CreateLegalRepClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/mediation/MediationSuccessfulCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/SettlementAgreementNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/legaladvisor/OrderDrawnNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/statetransition/StateTransitions.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/MiloJobTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/BaseNotificationServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2308

#2326 MTA health disabled - Master build fix
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2326

#2300 ROC-8928 open id backend changes
  Jenkinsfile_CNP
  build.gradle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  dependency-check-suppressions.xml
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/Bootstrap.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/idam/IdamTestService.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/smoke/RetrieveCaseTest.java
  src/aat/resources/environment.properties
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/TestIdamConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimModificationTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimQueryTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/CountyCourtJudgmentTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/DefendantResponseTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/OffersTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/SettlementAgreementTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/errors/EndpointErrorsTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/CreateClaimCitizenTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/InitiatePaymentTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/ResumePaymentTest.java
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/idam/IdamApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/UserService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/orders/BulkPrintSupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/security/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/UserServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2300

#2327 enhanced-mediation-journey
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/claimantresponse/CCDResponseRejection.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/defendant/CCDRespondent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantResponseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/ResponseMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/claimantresponse/ResponseRejectionAssert.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/FullAdmissionResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/FullDefenceResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/PartAdmissionResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/Response.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejectionTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/response/ResponseTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/RespondToClaimTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/ClaimantResponseHelperTest.java
  src/test/resources/defendant-response-full-defence.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2327

#2346 RDM-12394-bumping-ccd-ver-to-1.10.5
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2346

#2360 Open id config for nightly
  Jenkinsfile_nightly
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2360

#2342 New claim fees changes
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFRecalculateInterestCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFRecalculateInterestCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2342

#2344 Changes for fixing the bug related to court filter
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2344

#2333 Fix/roc 9095 latest
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionOrderMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionOrderService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderCreator.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/DirectionOrderServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2333

#2340 Feature/roc 9078 api helper
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2340

#2366 Roc 8902/mta cleanup
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/InterestDateTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/NameTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/CourtDeterminationTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptationTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejectionTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/ExpertReportTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/ExpertRequestTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/RequireSupportTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/WitnessTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/evidence/DefendantEvidenceTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/evidence/EvidenceRowTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/response/DefendantTimelineTest.java
  email-client/src/main/java/uk/gov/hmcts/cmc/email/EmailService.java
  email-client/src/test/java/uk/gov/hmcts/cmc/email/EmailServiceTest.java
  infrastructure/variables.tf
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/services/staff/PaidInFullStaffNotificationServiceWithEmailServiceRetryTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2366

#2384 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2384

#2288 Fix/roc 9050 ocon dymanic list issue
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDLableCode.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDOcon9xMain.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseOCON9xFormCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseOCON9xFormCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2288
