Repository hmcts/cmc-claim-store, pull requests merged in 2021-03, with the labels that each got.

#2165 ROC-8784 Paper defence RPA notification
  build.gradle
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/DefendantJsonMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2165

#2170 ROC-8908 - RPA notification for More time online
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/MoreTimeRequestedOnlineCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedOnlineCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2170

#2175 Update state.tf
  infrastructure/state.tf
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2175

#2177 nightly-build-dependency-upgrade
  build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2177

#2168 Functional tests
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimControllerTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/OCON9XResponeTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2168

#2182 claim-store: master bot PR
  build.gradle
  dependency-check-suppressions.xml
  domain-model/build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2182

#2187 Feature/roc 8884 ocon deadline enhancements
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/MoreTimeRequestedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/IssuePaperDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/IssuePaperDefenceCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2187

#2197 HwF CCJ : Ensure CCJ link appears for any Hwf Cases after 19 days from HwF-Claim Issue event.
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/SealedClaimJsonMapper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/SealedClaimJsonMapperTest.java
  rpa-mapper/src/test/resources/claim/company_rpa_citizen_case.json
  rpa-mapper/src/test/resources/claim/individual_rpa_citizen_case.json
  rpa-mapper/src/test/resources/claim/organisation_rpa_citizen_case.json
  rpa-mapper/src/test/resources/claim/sole_trader_rpa_citizen_case.json
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/CaseworkerHwfClaimIssueEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostHwfClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullAndPartRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMiscellaneousCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFRecalculateInterestCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostHwfClaimOrchestrationHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2197

#2196 Feature/roc 7914 lado approval latest
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDReviewOrDrawOrder.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderPostProcessor.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2196

#2201 Bug/roc 8897 oocn data lost
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimForHwF.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleHwfClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2201

#2214 Fix/tomcat cve
  build.gradle
  ccd-adapter/build.gradle
  dependency-check-suppressions.xml
  domain-model/build.gradle
  job-scheduler/build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2214

#2228 CCD Chart version upgrade
  README.md
  charts/cmc-claim-store/Chart.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2228

#2231 Release/bump 1.9.9
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2231

#2232 Feature/springboot upgrade 2.4.1
  build.gradle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  email-client/build.gradle
  job-scheduler/build.gradle
  rpa-mapper/build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtServiceTest.java
Labels: PET Team, ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2232

#2236 coverage issue
  build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2236

#2241 Revert "Feature/springboot upgrade 2.4.1"
  build.gradle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  email-client/build.gradle
  job-scheduler/build.gradle
  rpa-mapper/build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2241

#2243 bump version
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2243

#2183 Changes to retain claimant provided address
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CompanyDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/IndividualDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/OrganisationDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/SoleTraderDetailsMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/defendant/DefendantMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/CompanyDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/IndividualDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/OrganisationDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/SoleTraderDetails.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/otherparty/TheirDetails.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/utils/PartyUtilsTest.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleTheirDetails.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/helper/RPAMapperHelper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/helper/RPAMapperHelperTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/PersonContentProvider.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/ClaimContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/PersonContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2183
