Repository hmcts/cmc-claim-store, pull requests merged in 2021-08, with the labels that each got.

#2478 fortify scan changes
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2478

#2481 Update Send RPA support controller
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/MoreTimeRequestedJsonMapper.java
  rpa-mapper/src/test/java/uk/gov/hmcts/cmc/rpa/mapper/MoreTimeRequestedJsonMapperTest.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/MoreTimeRequestedNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/MoreTimeRequestedNotificationService.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2481

#2480 reissue claim logic
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/CaseMetadataController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimIssueService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/ClaimIssueJob.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimIssueServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/ClaimIssueJobTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2480

#2466 feature/ROC-9073-add-interlocutory-judgement
  Jenkinsfile_CNP
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDTransferReason.java
  charts/cmc-claim-store/values.preview.template.yaml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/NoticeOfTransferLetterTemplateMapperTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2466

#2472 ROC-9227: south west pilot court
  charts/cmc-claim-store/values.preview.template.yaml
  src/main/resources/data/pilot-courts.csv
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2472

#2483 Feature/roc 9410 helm upgrade
  charts/cmc-claim-store/Chart.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2483

#2491 Paper response review
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandler.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2491

#2492 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2492

#2493 Update dependency-check-suppressions.xml
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2493

#2495 removing zap cli from security file
  security.sh
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2495

#2490 ROC-9372 updating email content
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/HwFMoreInfoRequiredDocuments.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2490

#2496 Bump ccd version
  charts/cmc-claim-store/values.preview.template.yaml
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2496

#2485 ROC-9228: Add midlands courts
  charts/cmc-claim-store/values.preview.template.yaml
  src/main/resources/data/pilot-courts.csv
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2485
