Repository hmcts/cmc-claim-store, pull requests merged in 2021-04, with the labels that each got.

#2249 CourtFinder-URL-Upgrade
  src/main/resources/application.yml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2249

#2252 store sendgrid new api key in key vault
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2252

#2256 Roc 8641 court filter
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimForHwF.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleHwfClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandlerTest.java
Labels: PET Team, ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2256

#2255 Upgrading Court Finder API URL
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  src/main/resources/application.yml
Labels: PET Team, ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2255

#2248 add notification for changed contact details
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/DefendantResponseNotificationServiceTest.java
Labels: PET Team, ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2248

#2250 spring boot upgrade changes
  build.gradle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  email-client/build.gradle
  job-scheduler/build.gradle
  rpa-mapper/build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtServiceTest.java
Labels: PET Team, ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2250

#2266 Revert "spring boot upgrade changes"
  build.gradle
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  email-client/build.gradle
  job-scheduler/build.gradle
  rpa-mapper/build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/pilotcourt/PilotCourtServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2266

#2274 Bump version
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2274

#2278 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2278

#2292 Roc 8751 breathing space entered
  README.md
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDBreathingSpace.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDBreathingSpaceType.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/BreathingSpaceMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseEventMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/BreathingSpace.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/BreathingSpaceType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimData.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimDataForHwF.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimForHwF.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleHwfClaim.java
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/BreathingSpaceJsonMapper.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/rpa/BreathingSpaceNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/appinsights/AppInsightsEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/EventProducer.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/BreathingSpaceEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/RpaOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CaseRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/BreathingSpaceNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/email/BreathingSpaceEmailContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/email/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRule.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/breathingspace/BreathingSpaceEmailService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/breathingspace/BreathingSpaceEnteredCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/breathingspace/BreathingSpaceEntetedOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/breathingspace/BreathingSpaceLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/breathingspace/BreathingSpaceLiftedCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/main/resources/application.yml
  src/main/resources/rpa/templates/email/breathingspace/body.txt
  src/main/resources/rpa/templates/email/breathingspace/subject.txt
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/EventProducerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/operations/RpaOperationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/CountyCourtJudgmentRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/breathingspace/BreathingSpaceEmailServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/breathingspace/BreathingSpaceEnteredCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/breathingspace/BreathingSpaceEnteredOrchestrationTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/breathingspace/BreathingSpaceLetterServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/breathingspace/BreathingSpaceLiftedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtilsTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2292

#2281 ROC-8950: Upgrade LaunchDarkly library
  email-client/src/test/java/uk/gov/hmcts/cmc/email/EmailServiceTest.java
  launch-darkly-client/build.gradle
  launch-darkly-client/src/main/java/uk/gov/hmcts/cmc/launchdarkly/LaunchDarklyClient.java
  launch-darkly-client/src/main/java/uk/gov/hmcts/cmc/launchdarkly/internal/LDClientFactory.java
  launch-darkly-client/src/test/java/uk/gov/hmcts/cmc/launchdarkly/LaunchDarklyClientTest.java
  launch-darkly-client/src/test/java/uk/gov/hmcts/cmc/launchdarkly/internal/LDClientFactoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/ClaimantResponseContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/DocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/PinOrchestrationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CountyCourtJudgmentServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/FormaliseResponseAcceptanceServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseAdmissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/IssuePaperDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/legaladvisor/LegalOrderCoverSheetContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2281

#2303 Roc 8935 breathing space rpa
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  infrastructure/main.tf
  rpa-mapper/src/main/java/uk/gov/hmcts/cmc/rpa/mapper/BreathingSpaceJsonMapper.java
  src/aat/resources/environment.properties
  src/integrationTest/resources/environment.properties
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/BreathingSpaceNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/rpa/config/EmailProperties.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ResetRpaCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RoboticsNotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/roboticssupport/RpaEventType.java
  src/main/resources/bootstrap.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/ResetRpaCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/RoboticsNotificationServiceTest.java
  src/test/resources/environment.properties
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2303

#2309 Update Chart.yaml
  charts/cmc-claim-store/Chart.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2309

#2311 feat:New claim number format for damages claims
  src/main/resources/db/migration/V2021_04_26_0945__damages_claims_reference_number_seq.sql
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2311

#2242 Roc 8641 court filter
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDCase.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  charts/cmc-claim-store/values.preview.template.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimForHwF.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleHwfClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandlerTest.java
Labels: PET Team, ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2242

#2304 Feature/roc 9034 ocon disable n9 form
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/DocumentPublishService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/IssuePaperDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/PaperDefenceLetterBodyMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/PaperResponseLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/DocumentPublishServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/IssuePaperDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/PaperDefenceLetterBodyMapperTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/PaperResponseLetterServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtilsTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2304

#2296 ROC-8940 changes
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullAndPartRemissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMiscellaneousCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullAndPartRemissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMiscellaneousCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2296

#2283 ROC-8992/ROC-8993 : Transfer case / CCBC handoff letter should include latest defendant address
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/NoticeOfTransferLetterTemplateMapper.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/NoticeOfTransferLetterTemplateMapperTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2283

#2315 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2315

#2294 ROC-8923
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2294
