Repository hmcts/cmc-claim-store, pull requests merged in 2021-02, with the labels that each got.

#2125 removed sensetive logging
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/PostClaimOrchestrationHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/PaymentsService.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2125

#2127 Security vulnerabilities CVE-2021-24122 suppresed
  dependency-check-suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2127

#2110 bespoke not either party
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/legaladvisor/CCDDirectionPartyType.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/orders/DirectionParty.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2110

#2129 Roc 8730 hwf more info mail
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/HwFMoreInfoRequiredDocuments.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/properties/notifications/EmailTemplates.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMiscellaneousCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/HwfClaimNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/content/NotificationTemplateParameters.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/operations/ClaimantOperationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/HwfClaimNotificationServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2129

#2132 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2132

#2121 ROC-8585 Request More time changes
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimModificationTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/MoreTimeRequestedOnlineCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/MoreTimeRequestedOnlineCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2121

#2138 Help with fees : Showing the Claim PDF with watermark
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimDataContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/ClaimContent.java
  src/main/resources/staff/templates/document/draftClaim.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimDataContentProviderTest.java
Labels: Help With Fees, Prathap, ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2138

#2130 Fix/roc 8802 security bot fixes
  build.gradle
  ccd-adapter/build.gradle
  domain-model/build.gradle
  email-client/build.gradle
  job-scheduler/build.gradle
Labels: PET Team, ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2130

#2133 Help With Fees : 'Updated HwF number' event changes
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CaseEvent.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimDataContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMiscellaneousCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/ClaimContent.java
  src/main/resources/staff/templates/document/draftClaim.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFMiscellaneousCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ClaimDataContentProviderTest.java
Labels: Help With Fees, Prathap, ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2133

#2153 Feature/roc 8785 paper defence
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseAdmissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/IssuePaperDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseAdmissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/IssuePaperDefenceCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2153

#2158 Feature/helm chart upgrade
  build.gradle
  charts/cmc-claim-store/Chart.yaml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/BaseMockSpringTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/courtfinder/CourtFinderApi.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/DefendantResponseReceiptServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/SettlementAgreementCopyServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/DocumentUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/ResetRpaCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rpa/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/rules/ClaimSubmissionOperationIndicatorRuleTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/document/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimIssuedNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/HwfClaimNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/notifications/NotificationServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2158

#2140 MILO report fix
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDElasticSearchRepository.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/MediationCSVGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/MediationReportService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/MediationReportServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2140

#2161 ROC-8893 - remove anonmymous user call
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/HWFFullAndPartRemissionCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ClaimServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2161

#2169 Update values.preview.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2169
