Repository hmcts/cmc-claim-store, pull requests merged in 2021-12, with the labels that each got.

#2523 HWF release update
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2523

#2526 Update ResumeHelpWithFeeClaimSubmissionCallbackHandler.java with hwf update
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/ResumeHelpWithFeeClaimSubmissionCallbackHandler.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2526

#2527 OutstandingFeeAmountInPennies should be updated to feeAmountInPennies
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/ioc/CreateCitizenClaimCallbackHandler.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2527
