Repository hmcts/cmc-claim-store, pull requests merged in 2022-08, with the labels that each got.

#2609 Update CCDDocument.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDDocument.java
  charts/cmc-claim-store/Chart.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2609

#2586 Civ 2104
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/directionsquestionnaire/CCDDirectionsQuestionnaire.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionsQuestionnaireMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionsQuestionnaireAssert.java
  config/owasp/suppressions.xml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/DirectionsQuestionnaire.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/VulnerabilityQuestions.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleDirectionsQuestionnaire.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/documents/DefendantResponseReceiptServiceIT.java
  src/integrationTest/resources/documents/expectedDefendantResponseWithNoHearingSupportReceipt.html
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/HearingContent.java
  src/main/resources/citizen/templates/document/claimantDirectionsQuestionnaire.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2586

#2610 Bumping ccd version
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2610

#2616 ignore unknown fields
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/directionsquestionnaire/CCDDirectionsQuestionnaire.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2616

#2617 Revert "Civ 2104"
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/directionsquestionnaire/CCDDirectionsQuestionnaire.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionsQuestionnaireMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionsQuestionnaireAssert.java
  charts/cmc-claim-store/values.preview.template.yaml
  config/owasp/suppressions.xml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/DirectionsQuestionnaire.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/VulnerabilityQuestions.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleDirectionsQuestionnaire.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/documents/DefendantResponseReceiptServiceIT.java
  src/integrationTest/resources/documents/expectedDefendantResponseWithNoHearingSupportReceipt.html
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/HearingContent.java
  src/main/resources/citizen/templates/document/claimantDirectionsQuestionnaire.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2617

#2619 feat: release for CIV-2104 and CIV-1418, CIV-1381 and CIV-2428
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/directionsquestionnaire/CCDDirectionsQuestionnaire.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionsQuestionnaireMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionsQuestionnaireAssert.java
  charts/cmc-claim-store/Chart.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/DeterminationWithoutHearingQuestions.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/DirectionsQuestionnaire.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/VulnerabilityQuestions.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleDirectionsQuestionnaire.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleResponse.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/helpers/ClaimOperation.java
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/documents/DefendantResponseReceiptServiceIT.java
  src/integrationTest/resources/documents/expectedDefendantResponseWithNoHearingSupportReceipt.html
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/HearingContent.java
  src/main/resources/citizen/templates/document/claimantDirectionsQuestionnaire.html
  src/main/resources/citizen/templates/document/defendantResponseReceipt.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProviderTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/EventProducerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/security/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2619

#2621 Bump CCD definition version to 1.10.30
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2621

#2627 Add backstage configuration file
  catalog-info.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2627
