Repository hmcts/cmc-claim-store, pull requests merged in 2022-06, with the labels that each got.

#2590 Suppress depedency and upgrade postgres chart
  charts/cmc-claim-store/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2590

#2591 CIV-2993: Fix CVE-2022-25647
  config/owasp/suppressions.xml
  launch-darkly-client/build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2591

#2597 CIV-1418
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/directionsquestionnaire/CCDDirectionsQuestionnaire.java
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/DirectionsQuestionnaireMapper.java
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/assertion/DirectionsQuestionnaireAssert.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/DirectionsQuestionnaire.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/directionsquestionnaire/VulnerabilityQuestions.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProvider.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/models/HearingContent.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/content/directionsquestionnaire/HearingContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2597
