Repository hmcts/cmc-claim-store, pull requests merged in 2022-10, with the labels that each got.

#2646 Fix/civ 4864 CVE 2020 25638
  build.gradle
  config/owasp/suppressions.xml
  domain-model/build.gradle
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/AddressTest.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/TheirDetailsTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/ScheduledStateTransitionContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2646

#2638 CVE-2019-14900 fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2638

#2639 Feat/civ 443
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/CitizenServiceDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/UserService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/breathingspace/BreathingSpaceLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ChangeContactLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseAdmissionCallbackHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperdefence/PaperResponseLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseDocumentPublishService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderRenderer.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/CitizenServiceDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseAdmissionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/breathingspace/BreathingSpaceLetterServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/paperresponsetests/PaperResponseLetterServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseDocumentPublishServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/generalletter/GeneralLetterServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/OrderRendererTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2639

#2649 Fix/civ 4990 post callbackcontroller callback http 500
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/advices/ResourceExceptionHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/exceptions/DuplicateKeyException.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/advices/ResourceExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/PaperResponseReviewedHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2649

#2651 CIV-4988: POST CountyCourtJudgmentController
  src/integrationTest/java/uk/gov/hmcts/cmc/claimstore/controllers/ioc/InitiatePaymentTest.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/advices/ResourceExceptionHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/exceptions/UnprocessableEntityException.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/advices/ResourceExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceFailureTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2651

#2650 Civ 4865
  build.gradle
  config/owasp/suppressions.xml
  domain-model/build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2650

#2648 feat CIV-4992
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimController.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/ClaimControllerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2648

#2653 Feat/civ 4994
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/advices/ResourceExceptionHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/advices/ResourceExceptionHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2653

#2636 Feat/civ 2791
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ResetAndSendNewPinCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ResetAndSendNewPinCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/legaladvisor/DocAssemblyTemplateBodyMapperTest.java
  src/test/resources/doc-assembly-template.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2636

#2658 feat: GET CourtFinderController/searchByPostcode - count 197 (CIV-4997)
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/courtfinder/CourtFinderService.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2658

#2657 Feat/civ 818
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimMapper.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimData.java
  domain-model/src/test/java/uk/gov/hmcts/cmc/domain/models/serialization/ClaimDataSerializationTest.java
  domain-model/src/test/resources/claim-application.json
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimData.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimDataForHwF.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/processors/JsonMapperTest.java
  src/test/resources/claim-application-hwf.json
  src/test/resources/legal-claim-application-hwf.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2657

#2659 Feature/civ 5173
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.yaml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/DocAssemblyServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2659
