Repository hmcts/cmc-claim-store, pull requests merged in 2023-02, with the labels that each got.

#2699 CIV-6997: Fix master pipelines
  README.md
  build.gradle
  config/owasp/suppressions.xml
  settings.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2699

#2700 Cleanup all cves and add suppressions later
  config/owasp/suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2700

#2698 CIV-6697
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SettlementOfferTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2698

#2709 CIV-7299 ccd concurrency
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDataContentBuilder.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDataContentBuilderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2709

#2711 Fix: Code cleanup
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2711
