Repository hmcts/cmc-claim-store, pull requests merged in 2023-06, with the labels that each got.

#2753 feat/CIV-9062 update definition importer
  charts/cmc-claim-store/values.preview.template.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2753

#2754 add supression
  config/owasp/suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2754

#2757 CIV-8537: automate unstuck claims
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimIssueService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/ClaimIssueJob.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimIssueServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2757

#2758 CIV-8537: automate unstuck claims
  build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimIssueService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/CCDCaseApi.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claim/ClaimIssueServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2758

#2665 Feat/civ 449
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/CitizenServiceDocumentsService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProvider.java
  src/main/resources/application.yml
  src/main/resources/staff/templates/document/defendantPinLetter.html
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/CitizenServiceDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/staff/content/DefendantPinLetterContentProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2665
