Repository hmcts/cmc-claim-store, pull requests merged in 2023-01, with the labels that each got.

#2679 remove bitnami dependency
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2679

#2684 disable tests
  config/owasp/suppressions.xml
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ClaimantResponseTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/ReDeterminationTest.java
  src/aat/java/uk/gov/hmcts/cmc/claimstore/tests/functional/citizen/SettlementOfferTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2684

#2685 Fix CVE-2021-30639
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2685

#2686 Fixed CVEs cleanup
  config/owasp/suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2686

#2688 CIV-4999: GET ClaimController/getBySubmitterId - count 162
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/advices/ResourceExceptionHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverter.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/advices/ResourceExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverterTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2688

#2690 CIV-4873: Fix for CVE-2021-42340
  charts/cmc-claim-store/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2690

#2691 CIV-4876: Fix CVE-2021-44832
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2691

#2692 CIV-4875 Fix for CVE-2021-44228
  config/owasp/suppressions.xml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2692

#2694 CIV-4874: Fix CVE 2021 42550
  build.gradle
  config/owasp/suppressions.xml
  job-scheduler/build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandler.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2694
