Repository hmcts/cmc-claim-store, pull requests merged in 2023-10, with the labels that each got.

#2775 Update Renovate Config
  .github/CODEOWNERS
  renovate.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2775

#2661 Feat/civ 4541
  src/main/java/uk/gov/hmcts/cmc/claimstore/jobs/cron/ScheduleCaseStayedStateTransition.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseStayedService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDataContentBuilder.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseStayedServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2661

#2782 SNI-4686 allow case transfer of cases when given a state
  src/main/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportController.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseStateService.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/controllers/support/SupportControllerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/transfercase/TransferCaseStateServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2782

#2785 CIV-0000 update tests to fix master
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/DrawJudgeOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/legaladvisor/GenerateOrderCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2785

#2773 CIV-477 Update Claimant & Defendant appropriately when Claimant disagrees Mediation
  build.gradle
  ccd-adapter/src/test/java/uk/gov/hmcts/cmc/ccd/mapper/ClaimantResponseMapperTest.java
  ccd-sample-data/src/main/java/uk/gov/hmcts/cmc/ccd/sample/data/SampleData.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/ClaimDocumentType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/bulkprint/PrintRequestType.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ClaimantResponse.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseAcceptation.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/claimantresponse/ResponseRejection.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/OCON9xResponseUtil.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/utils/ResponseUtils.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaimantResponse.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintRequestType.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimantRejectionDefendantDocumentService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandler.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/repositories/mapping/ClaimMapper.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/notifications/ClaimantRejectionDefendantNotificationService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/DocumentNameUtils.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/BulkPrintHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/documents/ClaimantRejectionDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/events/claimantresponse/ClaimantResponseActionsHandlerTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/ClaimantRejectionDefendantNotificationServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2773

#2787 CIV-11105
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/caseworker/PaperResponseFullDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/DirectionsQuestionnaireServiceTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2787
