Repository hmcts/cmc-claim-store, pull requests merged in 2024-07, with the labels that each got.

#2915 DTSCCI-490 remove deprecated property volume lib
  build.gradle
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2915

#2914 DTSCCI-508 adding provider contract test
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/cmc/claimstore/api/provider/CmcClaimantApiProviderTest.java
  src/contractTest/java/uk/gov/hmcts/cmc/claimstore/api/provider/CmcDefendantApiProviderTest.java
  src/contractTest/java/uk/gov/hmcts/cmc/claimstore/api/provider/CmcDefendantLinkedApiProviderTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2914

#2918 DTSCCI-508 add provider contract tests
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/domain/CCDPaymentIntention.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/BreathingSpace.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/PaymentDeclaration.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/offers/Offer.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/offers/Settlement.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/response/PaymentIntention.java
  src/contractTest/java/uk/gov/hmcts/cmc/claimstore/api/provider/CmcClaimantApiProviderTest.java
  src/contractTest/java/uk/gov/hmcts/cmc/claimstore/api/provider/CmcDefendantApiProviderTest.java
  src/contractTest/java/uk/gov/hmcts/cmc/claimstore/api/provider/CmcDefendantLinkedApiProviderTest.java
  src/contractTest/java/uk/gov/hmcts/cmc/claimstore/api/provider/GetClaimsContractConfig.java
  src/contractTest/java/uk/gov/hmcts/cmc/claimstore/api/provider/ProviderTestUtils.java
  src/contractTest/resources/logback-test.xml
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ClaimService.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2918

#2923 DTSCCI-257 Log preferred court
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2923

#2926 DTSCCI-257 Re-add preferredDQPilotCourt
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/CoreCaseDataService.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2926
