Repository hmcts/cmc-claim-store, pull requests merged in 2024-01, with the labels that each got.

#2821 CIV-0000 Refreshing master
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/claimantresponse/ClaimantResponseMapper.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2821

#2819 CIV-10543 pointing to v15
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.yaml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2819

#2825 Feat/civ 11947
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/DefendantResponseReceiptUploadCallbackHandler.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/ccd/callbacks/response/DefendantResponseReceiptUploadCallbackHandlerTest.java
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2825

#2826 CIV-0000 remove v10 db
  infrastructure/main.tf
Labels: ns:money-claims, prd:cmc, destroy, rel:cmc-claim-store-pr-2826
