Repository hmcts/cmc-claim-store, pull requests merged in 2024-09, with the labels that each got.

#2976 DTSCCI-242 CMC Claim Store functional test 429 errors
  Jenkinsfile_CNP
  build.gradle
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/cmc/claimstore/api/provider/GetClaimsContractConfig.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/UserService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/user/CacheableUserAuthorisationTokenService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/user/CacheableUserInfoService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/user/IUserAuthorisationTokenService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/user/IUserInfoService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/user/UserAuthorisationTokenService.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/user/UserInfoService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CacheableUserAuthorisationTokenServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/CacheableUserInfoServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/UserAuthorisationTokenServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/UserInfoServiceTest.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/UserServiceTest.java
Labels: ns:money-claims, prd:cmc, enable_keep_helm, rel:cmc-claim-store-pr-2976

#2985 Dtscci 783 claim name csv
  .github/workflows/codeql-analysis.yml
  build.gradle
  ccd-adapter/src/main/java/uk/gov/hmcts/cmc/ccd/mapper/CaseMapper.java
  charts/cmc-claim-store/values.preview.template.yaml
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/Claim.java
  domain-model/src/main/java/uk/gov/hmcts/cmc/domain/models/MediationRow.java
  domain-sample-data/src/main/java/uk/gov/hmcts/cmc/domain/models/sampledata/SampleClaim.java
  email-client/build.gradle
  src/main/java/uk/gov/hmcts/cmc/claimstore/services/MediationCSVGenerator.java
  src/main/java/uk/gov/hmcts/cmc/claimstore/utils/CaseDetailsConverter.java
  src/test/java/uk/gov/hmcts/cmc/claimstore/services/MediationCSVGeneratorTest.java
Labels: ns:money-claims, prd:cmc, enable_keep_helm, rel:cmc-claim-store-pr-2985

#2992 CIV-00000 Add environment variable for data migration
  charts/cmc-claim-store/Chart.yaml
  charts/cmc-claim-store/values.aat.template.yaml
  charts/cmc-claim-store/values.preview.template.yaml
  charts/cmc-claim-store/values.yaml
  src/main/java/uk/gov/hmcts/cmc/claimstore/config/CmcDBConfiguration.java
  src/main/resources/application.yml
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2992

#2993 DTSCCI-916 Reduce Application Insights
  lib/applicationinsights.json
Labels: ns:money-claims, prd:cmc, rel:cmc-claim-store-pr-2993
